[2019-05-02 21:27] cppforlife opened #1 "tag built/imported images with `kbld-sha256-...` to leave a visible trace of an image in most registry UIs"
since kbld resolves image refs to digests after building them, it's possible that there is no way for a user to see which images are used within registry UI. it's a minor details but probably still nice to add.

as a side benefit, registries probably do not garbage collect images referenced with tags.

[2019-05-04 00:17] cppforlife opened #2 "[packaging] aws ecr support"
seems that aws ecr does not support docker v2 manifest lists

https://forums.aws.amazon.com/thread.jspa?threadID=292294

[2019-05-06 19:24] cppforlife commented on #2
aws ecr has two limitations:
- uploading of manifests must use tags instead of digest (digest of course stays the same)
- manifest list media type is not supported

https://github.com/k14s/kbld/commit/e9b88441eb0ed11363b40cbbc3761fefbfa18edd changes upload to include tag and immediately verifies that tag->digest is correct.

not much can be done about manifest list media, hence only "single" image

[2019-05-06 19:24] #2 closed

[2019-05-07 19:15] cppforlife commented on #1
tagging already is done in unpkg command. now just for build/pushing...

[2019-05-11 08:35] cppforlife commented on #1
started tagging built images in https://github.com/k14s/kbld/commit/1994985e6851023f6cde04925076595e9afae395; however, it doesnt use kbld-sha256- format as docker doesnt expose sha256 beforehand. currently random tag is generated.

[2019-05-13 23:00] cppforlife opened #3 "annotate resources that reference an image, with metadata about built images"
for example include git url, git sha (+ dirty status), and may be git tag (if present)?

[2019-05-14 21:14] cppforlife commented on #3
via https://github.com/k14s/kbld/commit/c527aa1b97cb70ce9b911eeaa837cc19594892a8, and https://github.com/k14s/kbld/commit/39f019701b55ade77b5e5a2e106111b10902404f

[2019-05-14 21:44] cppforlife commented on #1
available in v0.6.0.

[2019-05-14 21:44] #1 closed

[2019-05-23 22:23] cppforlife commented on #3
available in v0.7.0

[2019-05-23 22:23] #3 closed

[2019-05-24 17:29] robsonpeixoto opened #4 "Missing v0.7.0 binary"
[code]

[2019-05-24 19:53] cppforlife commented on #4
fixed. looks like binary upload failed at the last moment on wifi.

[2019-05-24 19:53] #4 closed

[2019-07-23 00:49] cppforlife opened #5 "raise an error if unknown config kind or fields are present under particular apiVersion"

[2019-07-30 18:34] andyshinn opened #6 "Support for specifying Dockerfile to build"
My current application has multiple Dockerfiles that are housed in a sub-directory (such as `docker/images`). It would be nice if there was a way to specify the Dockerfile separate from the build context.

Maybe like:

[code]

[2019-07-30 18:52] andyshinn opened #7 "Support for multi-stage build target"
It would be nice if the build Source had an option for `target`. The use case is multi-stage builds where you might have a separate development vs production target.

https://docs.docker.com/engine/reference/commandline/build/#specifying-target-build-stage---target

I imagine it might look something like:

[code]

Related to #6.

[2019-07-30 19:20] cppforlife commented on #7
may be something like this with explicit docker section:

[code]

[2019-07-30 19:21] cppforlife commented on #6
[code]

[2019-07-31 17:31] cppforlife opened #8 "kbld pkg should retry on transient network failures"
change should possibly be in the underlying go-containerregistry library.

[code]

[2019-07-31 18:42] cppforlife commented on #7
available in v0.10.0

[2019-07-31 18:42] #7 closed

[2019-07-31 18:42] cppforlife commented on #6
available in v0.10.0

[2019-07-31 18:42] #6 closed

[2019-08-06 21:06] cppforlife opened #9 "allow use of image relocation mapping as source of truth (instead of registry)"
https://github.com/deislabs/cnab-spec/blob/master/103-bundle-runtime.md#image-relocation

Example:

/cnab/app/relocation-mapping.json:

[code]

[2019-08-08 21:52] cppforlife commented on #9
https://github.com/k14s/kbld/releases/tag/v0.11.0 includes --image-map-file flag.

[2019-08-08 21:52] #9 closed

[2019-08-09 16:31] cppforlife opened #10 "validate kbld config for unrecognized keys"

[2019-08-28 08:17] glyn opened #11 "`Error: Unknown output type '../../../tmp/'` when building"
I installed `ytt` v0.19.0 and at kbld master (0f13c7bd07118cc809f4228230ff6ddd4346258b), I get the following (on macOS with Go 1.12):
[code]

[2019-09-13 18:07] thmzlt opened #13 "No support for alternative builders?"
I'm currently using the [nix](https://nixos.org/nix/) toolchain for building my Docker images from source. It outputs a single file which I pass to `docker load`. Is it possible to integrate that with kbld?

[2019-09-13 18:16] thmzlt commented on #13
For reference, here is how I currently use Google Cloud Build with a `cloudbuild.yaml` file:

[code]

[2019-09-16 20:39] cppforlife commented on #13
@thmzlt yup, currently only docker build is supported. i would open to PRs that add additional builders if they fit well into kbld's workflow.

[2019-09-23 23:07] cppforlife opened #14 "add a flag to export processed images as a file"
this is useful for additional workflow steps that may need to know what got processed. example: determine what is a digest for particular image so that it could be used elsewhere.

[2019-09-24 17:25] cppforlife opened #15 "add kaniko in k8s builder support"

[2019-10-07 14:35] dsiebel opened #16 "Start YAML output with `---`"
Background:
I use `kbld` to dynamically replace docker `image:tag` notations with `image:digest` before applying the manifests in a pipeline like this:

`custom-script-to-render-multiple-helm-charts | kbld -f - | kubectl apply -f -`

According to the [YAML spec](https://yaml.org/spec/1.2/spec.html#id2760395) a YAML document _may_ start with `---`.
Adding `---` on the top of every YAML file (even e

[2019-10-16 17:39] dprotaso opened #18 "skip resolving images are referenced with their digest"
ie.

[code]

Get's processed by `kbld` and resolves to itself. This also leaves unnecessary annotation on some objects`

ie.

[code]

[2019-10-17 14:41] cppforlife commented on #18
thats fair. we should probably remove that.

[2019-11-26 15:43] #16 closed

[2019-11-26 21:58] Zebradil opened #19 "wrong digests for some images on quay.io (old registry)"
I bumped into the issue with [quay.io/thanos/thanos:v0.8.1](https://quay.io/repository/thanos/thanos?tab=tags) (on the tags page, use filter by tag to find exactly that one).
`kbld` resolves wrong digest for that image. I tested another one from quay.io (prometheus/node-exporter) and its digest was resolved correctly.

Along with the tagged image I put another one with correct digest in the exampl

[2019-11-27 19:33] cppforlife commented on #19
[It was fixed in google/go-containerregistry](https://github.com/google/go-containerregistry/commit/abf9ef06abd9f532944e28e8942644ea4b710a40#diff-a26315a001ca7dc40ec93b82eb05ad9b).

Note the comment in the code in that change:

[code]

quay.io has been "problematic" for various images. given that it seems that this is an implementation quirk and not part of the OCI registry spec, i am not too hot

[2019-11-27 20:19] Zebradil commented on #19
Yes, I saw the comment.
It's not a problem for me, because of the workaround and we tend to store images in our own registries anyways, I used that image from quay.io only for testing purposes.

This issue might help other people to reduce time spent on investigation.

As a side note, I think it worth keeping dependencies somewhat up-to-date at least for security reasons.

Please, feel free to clo

[2019-12-03 14:19] cppforlife commented on #19
yeah, i was even considering at some point just blocking use of quay.io without explicit ImageOverrides. not sure if thats too much.

i typically keep an eye on them and update if security related issues come up.

ill close this issue for now.

[2019-12-03 14:19] #19 closed

[2019-12-06 19:02] cppforlife opened #20 "improve error kbld shows when path is set to a file instead of directory"
[code]

[2019-12-11 16:08] cppforlife commented on #20
implemented in https://github.com/k14s/kbld/commit/8f03c2f4c34c5326d0b4a4a5b5ea5fa1005e8236

[2019-12-11 16:08] #20 closed

[2019-12-11 16:54] cppforlife commented on #16
available in https://github.com/k14s/kbld/releases/tag/v0.12.0

[2020-01-16 13:05] cppforlife commented on #15
@kvaps says that kaniko v0.15 is less buggy. it also saves digest into a file after building.

[2020-02-25 17:59] jpmcb opened #21 "[registry api incompatibility] older nginx (v1 image schema) example error"
Howdy! I am following the example found on https://get-kbld.io/ with deploying a simple nginx server to a new GKE cluster. I've used the following command with the yaml provided in the example:

[code]

 And i'm receiving the following error on the nginx pods:

[code]

When attempting to pull the nginx image locally:
[code]

Could this be related to the old schema manifest not working with k8s? I

[2020-02-25 19:21] jpmcb commented on #21
Also of note, when performing the following command:
[code]
where the file for the nginx deployment is:
[code]
The sha digets _changes_ upon every iteration of watch. For example, on first iteration
[code]
and on second iteration
[code]

[2020-02-25 19:55] cppforlife commented on #21
that's wild that it's returning different digest every time instead of failing but yeah it is related to image being v1 schema [1]. im guessing v1 schema _did not_ have a "stable" digest that was being returned, so api is doing some magic.

as you said later versions of nginx (that do not use v1 schema) are ok. (e.g. `echo "image: nginx:1.17.8" | kbld -f-` results in consistent digest)

in general

[2020-02-25 20:39] jpmcb commented on #21
Wow, very interesting. Yes, I agree, if the digest is not consistent, it would make sense to fail since the API is maybe trying to do it's best. Thanks for looking into this!

[2020-02-25 20:46] cppforlife commented on #21
ImageOverride is your friend (https://github.com/k14s/kbld/blob/develop/docs/config.md#imageoverrides) if you want to preresolve the image to whatever you want (ie have kbld ignore it).

[2020-03-02 16:44] #21 closed

[2020-03-06 21:17] cppforlife commented on #21
made kbld double check returned digest: https://github.com/k14s/kbld/commit/91a5653015367ce23f5bcc1089ed1af9bfba8c0c. available in 0.14.0.

[2020-04-12 09:00] GrahamDumpleton opened #22 "Mismatched digest for image in remote registry being used."
This issue seems to be similar to https://github.com/k14s/kbld/issues/19 but the setup is different.

Have a typical setup for ``kbld`` where it is doing image build and pushing image to remote registry. When it fills out the image digest reference in the deployment, it is using the digest which matched what was stored in local image build cache. The digest which the image was stored under in the

[2020-04-13 17:43] cppforlife commented on #22
hey @GrahamDumpleton,

hmm, it seems that podman-docker returns multiple digests for the same locally tagged image. that's not the behaviour of docker inspect.

kbld expects docker to record a digest at the time of the push (it uses docker inspect to retrieve it). it also expects that digest matches what was pushed to registry. it looks like podman-docker does not offer same API guarantees as dock

[2020-04-14 11:11] jorgemoralespou commented on #22
@GrahamDumpleton can it be a problem on podman side? Related to this (https://github.com/containers/libpod/issues/3761)(https://github.com/containers/libpod/issues/3761) maybe?

[2020-04-16 15:15] jpambrun opened #23 "Avoid stripping yaml comments?"
I am trying to run kbld before ytt. Is there any way to have kbld not strip out the ytt templating?

[2020-04-17 20:40] cppforlife commented on #23
there are two challenges with that even if kbld would preserve comments -- (1) kbld returns combined output which would "break" any non-trivial ytt template since loads would not be able to find files (2) there is no guarantee that kbld can find image references since they might be in format like this: `image: #@ data.values.image` (or some variation).

because of issues above i typically recommen

[2020-04-21 13:14] jpambrun commented on #23
I better understand the challenges. I have a use case where spawn a lot of jobs from the same template and kbld execution, even when cached, is adding up to a long time.

In addition, kbld requires docker while ytt, kubectl does not. A system with docker could build the image and update the templated yaml. That updated template could then be used by another system without docker.

It's not somethi

[2020-04-21 13:44] cppforlife commented on #23
i see. may be following is useful `kbld -f ... --lock-output /tmp/lock.yml` (which will record resolved/built images and save them as ImageOverrides in lock.yml) and then use it later via `ytt ... | kbld -f - -f /tmp/lock.yml` (to use those overrides).

[2020-04-22 13:26] jpambrun commented on #23
Thanks @cppforlife. I didn't know about `--lock-output`. Makes a lot of sense. Now I almost feel embarrassed.

In case it helps others, here is what I did in a Makefile:
[code]
`workflow.yaml` in an argo workflow I want to run many time. `metadata.yaml` configures the workflow. `workflow.build.yaml` contains the image sources and destinations. `workflow.build.lock.yaml` is the ImageOverrides resul

[2020-04-22 13:26] #23 closed

[2020-04-22 14:43] cppforlife commented on #23
@jpambrun glad it solves your problem!

[2020-04-28 21:50] nairb774 opened #24 "ECR now supports manifests"
The note at https://github.com/k14s/kbld/blob/ddd2561de7d0a07eaee903767adc30a23c4fb1b8/docs/packaging.md#using-with-aws-ecr might soon be out of date.

According to https://github.com/aws/containers-roadmap/issues/505 manifest support is rolling out with docs being updated: https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-push-multi-architecture-image.html

[2020-04-29 01:09] cppforlife commented on #24
@nairb774 awesome, thanks for tracking that! ill try it out tomorrow.

[2020-04-30 20:17] cppforlife opened #25 "package/unpackage commands should operate on registry in parallel"
introduce --concurrency flag (default to 5?)

[2020-05-11 22:52] cppforlife commented on #25
done in https://github.com/k14s/kbld/releases/tag/v0.21.0

[2020-05-11 22:52] #25 closed

[2020-05-12 15:25] chrisjs opened #26 "Authentication failure when using credstore secretservice on Linux"
On linux, I am seeing auth failures when using the following docker config. This works fine authing against dockerhub, etc:

[code]

When running the following command:

[code]

It fails with:

[code]

`docker-credential-secretservice` is on my `$PATH` and can see my proper credentials in it

When changing my docker config.json to use base64 encoded `user:pass`, ie:

[code]

It then auths and relo

[2020-05-12 18:07] agascon opened #27 "Image tag resolved to incorrect digest"
Hi team

I'm exploring this tool to improve our existing CD pipelines and found an issue while trying to setup a POC.

Problem is that even kbld finish successfully and the output manifest contains the image referenced by a digest, metadata is added, etc.. but **the digest used doesn't exist**.

Even worst, trying with an incorrect tag gives same result, successful completion but incorrect digest.

[2020-05-13 00:00] cppforlife commented on #26
hmm, kbld uses google/go-containerregistry. so far i see that https://github.com/google/go-containerregistry/tree/master/pkg/authn mentions that it is supported. according to https://docs.docker.com/engine/reference/commandline/login/#credentials-store, https://github.com/docker/docker-credential-helpers is the repo responsible for providing these cred helper binaries. looking at this: https://git

[2020-05-13 00:12] cppforlife commented on #27
im guessing the behaviour you are observing is following (if url already contains digest, kbld just passes it through):

[code]

arguably kbld should double check that there is indeed an image with that digest.

however, im not quite sure what you mean by "trying with an incorrect tag gives same result". here is the expected behaviour for non-existing tag:

[code]

can you provide an example i can

[2020-05-13 00:23] chrisjs commented on #26
no i only have `docker-credential-gcloud` and `docker-credential-secretservice`. i had used the sheaf tool with this configuration which i believe uses the same lib and i didn't have the same issue

[2020-05-13 07:16] agascon commented on #27
Problem could be our registry is not public, but this is some test I have just run. (I replaced registry names & image names)

Considering this image...
[code]
And this deployment
[code]

`kbld -f deployment.yml`

...is producing this...

[code]

As you can see either the image & tag exists or not, the digest I got is the same, which is not correct.

[2020-05-13 13:17] cppforlife commented on #27
hmm, looks like this might be harbor specific behaviour. ill have to try installing harbor and trying it out.

[2020-05-13 13:34] cppforlife commented on #26
oops, i dont know why i thought you were using osxkeychain cred store. re-reading the issue clearly shows you are not. if docker-credential-secretservice is present, next step for me is to take a look at the exact usage of go-containerregistry's auth methods. will report back.

[2020-05-13 15:08] agascon commented on #27
I can do any testing you could need.  Just let me know.

[2020-05-13 17:15] cppforlife commented on #26
try out this new version: https://github.com/k14s/kbld/releases/tag/v0.22.0

[2020-05-13 18:54] chrisjs commented on #26
using that version, things appear to work. thanks!

[2020-05-13 18:54] #26 closed

[2020-05-14 17:42] ewrenn8 opened #28 "Support registry to registry direct relocation"
- [ ] Introduce a command `kbld relocate -f install.yml --repository my.internal.reg` that will skip writing the image layers to disk and will stream them directly to the new repository.

- [ ] kbld relocate supports the --lock-output flag to maintain a mapping from manifest image locations to current image locations. See [packaging docs](https://github.com/k14s/kbld/blob/master/docs/packaging.md)

[2020-05-14 19:09] ewrenn8 opened #29 "Introduce lock file interface"
kbld relocation commands should use lock files as an interface for relocating images. A lock file will consist of the original image reference from the configuration manifests (image: nginx) along with the current location of the image (my.internal.registry/app1@<digest>). The workflow will look like:
[code]
And for all in one relocation:
[code]
See [packaging docs](https://github.com/k14s/kbld/bl

[2020-05-14 20:55] cppforlife commented on #26
perfect. that means fix was correct.

[2020-05-14 23:23] cppforlife commented on #29
instead of

[code]

i think following works out better:

[code]

(we do not need source registry, since we have image refs from images.lock; -r is also consistent with unpkg command)

[2020-05-15 00:12] ewrenn8 commented on #29
Closing in favor of doing this as part of implementing relocate command

[2020-05-15 00:12] #29 closed

[2020-05-17 22:10] cppforlife commented on #14
this is covered by --lock-output: https://github.com/k14s/kbld/blob/develop/docs/resolving.md#generating-resolution-lock-output

[2020-05-17 22:10] #14 closed

[2020-05-17 22:11] cppforlife opened #30 "[builder] add kpack integration for building"
we already support docker, and pack. let's add https://github.com/pivotal/kpack.

- should this be an external binary since this pulls in k8s libraries?
- kpack unlike pack does build+push step in one
- how to upload source code (tmp image?)?

[2020-05-17 22:13] cppforlife commented on #5
same as https://github.com/k14s/kbld/issues/10

[2020-05-17 22:13] #5 closed

[2020-05-27 21:18] datianshi opened #31 "retaining image repo names in kbld packaging workflow"
When you package. I wonder why this does not do repo name to repo name map. Instead, it pushed into the same repo

https://github.com/k14s/kbld/blob/develop/docs/packaging.md

``Images will be imported under a single new repository docker.io/dkalinin/app1. You are guaranteed that images are exactly same as they are referenced by the same digests in produced YAML configuration (though under a diffe

[2020-05-27 23:14] cppforlife commented on #31
how would you avoid naming conflicts between various image names (eg lots of things could have a image name called "webhook")? (additionally it's not possible in some cases to retain names given RBAC rules of registry or various registries supporting arbitrary paths vs not).

i would also question need for retaining names since humans shouldn't be looking at image refs manually but rather rely on

[2020-05-28 18:51] datianshi commented on #31
@cppforlife I thought this is based on the hash. So no conflicts?

My simply use case is that. I have many k8s manifests depends on registry 1. I want to package them locally and upload to the other offline/internal registry. And I can template/replace my manifest with the new registry url

[2020-05-28 23:11] cppforlife commented on #31
the digest does identify image uniquely however it's confusing that unrelated projects may end up using same repo name (e.g. my-private-reg.com/dkalinin/webhook@sha256:..., in this case, whose webhook are we talking about) since their name could be the same. with current behaviour since all images referenced by config are uploaded to a single repo, you can for example delete that repo when you no

[2020-05-29 14:18] datianshi commented on #31
cool I got your point @cppforlife basically using kbld and the manifest.lock (one generated during unpack) to interoperate the manifest files again.

[2020-05-29 16:27] cppforlife commented on #31
that's right.

[2020-06-09 15:37] cppforlife commented on #31
closing. question was answered it seems.

[2020-06-09 15:37] #31 closed, assigned to nobody

[2020-06-15 19:21] aaronshurley opened #33 "kbld should error on unknown command"
Today, when I use kbld with an unknown command, such as `kbld blah`, I receive a "Succeeded" message and it exits 0. This is surprising so we should consider fixing it to inform the user that a command does not exist.

[2020-06-15 23:05] cppforlife opened #34 "ensure that kbld.k14s.io/images annotations is deterministically ordered"
to avoid unnecessary annotation changes

[2020-06-16 01:21] cppforlife commented on #33
latest 2 changes https://github.com/k14s/ytt/commits/develop/pkg/cmd/ytt.go are related (040885ae49fd12202de1cec77ca5beb3c02d576e and 65a6abe796ed5fc6c453075474ef4b0b7641699d).

[2020-06-18 14:52] jan-hudec opened #35 "pushing images that are not being built"
I have the images already built by the CI server, but due to technical reasons the production environment does not see the registry where it is.

kbld can both pull (when packaging) and push (after building) images. But can I use it to just push the images to the target registry without processing the manifest multiple times and creating the intermediate tar? The server running the deployment does

[2020-06-18 16:06] pivotaljohn commented on #35
I _think_ I understand the thrust of your question...

Are you asking if there's a way to copy/relocate an image from one registry into another, directly (i.e. without needing to create a tarball)?

[2020-06-21 18:17] ciriarte commented on #8
@cppforlife I want to second this issue. It is painful in (potentially) long operations such as package/unpackage.

[2020-06-23 20:50] jan-hudec commented on #35
@pivotaljohn, yes.

[2020-06-24 15:50] pivotaljohn commented on #35
That exact feature is under development, right now.

To clarify, `ImageDestinations` is used [when resolving an image reference requires that that image be built and pushed](https://github.com/k14s/kbld/blob/v0.22.0/pkg/kbld/image/factory.go#L39). In that case, the `Sources` configuration points to where the code can be found and `ImageDestinations` points to where the built image can be pushed.

[2020-06-28 19:29] jbrunton commented on #34
@cppforlife: I have a bit of time and I'm looking to contribute to more OS projects. Any objections if I have a go at this? It might also pair up with #18 quite well.

[2020-06-29 14:32] cppforlife commented on #34
@jbrunton sounds good! it's all yours.

[2020-06-29 14:33] cppforlife commented on #35
https://github.com/k14s/kbld/releases/tag/v0.23.0 includes `kbld relocate` command that copies images without having to make a local tar.

[2020-06-29 14:34] cppforlife commented on #28
https://github.com/k14s/kbld/releases/tag/v0.23.0 includes this feature.

[2020-06-29 14:34] #28 closed

[2020-06-30 18:15] jbrunton commented on #34
@cppforlife: Thanks for the merging the PR! Can this issue be closed now too?

[2020-06-30 21:30] cppforlife commented on #34
@jbrunton i typically close all in-progress issues once they are included in a release. im planning to cut a new kbld version wed/thurs, so ill close it then.

[2020-07-07 22:57] aaronshurley opened #37 "[builder] add ko as a backend"
Some users want to use [`ko`](https://github.com/google/ko) as a backend (i.e. an image-building option).

Proposed Workflow:
- We want to preserve as much existing `kbld` behavior as possible, so we'll only use `ko` for building images and not for publishing images.
- To use `ko` for building, we can simply use `ko publish --local`. This will build images to the local Docker. `kbld` can then refe

[2020-07-08 15:54] cppforlife commented on #37
that's pretty cool!

[2020-07-10 17:16] cppforlife commented on #8
fixed in https://github.com/k14s/kbld/commit/509761e690a53ba7772aae238ae2d1606cde38fe

[2020-07-15 01:22] cppforlife commented on #34
included in https://github.com/k14s/kbld/releases/tag/v0.24.0

[2020-07-15 01:22] #34 closed, assigned to jbrunton

[2020-07-15 01:22] #35 closed, assigned to pivotaljohn

[2020-07-19 22:26] ciriarte opened #38 "kbld unpackage fails to honor docker config with harbor v2"
## Context

[code]

1. We upgraded one of our harbor instances to v2 and kbld suddenly stopped working.
1. Our config was relying on the [user's docker config](https://github.com/k14s/kbld/blob/develop/docs/auth.md#via-docker-config).
1. Thankfully `v0.23.0+` supports environment variables and it looks like it honors those if they are present.

Our suspicion is that `kbld` is not honoring the cred

[2020-07-31 18:31] ciriarte commented on #8
@cppforlife is there any reason why this issue is still open?

[2020-07-31 20:16] cppforlife commented on #8
fix available in v0.24.0

[2020-07-31 20:16] #8 closed

[2020-08-20 15:42] saulshanabrook opened #43 "[builder] add docker buildx bake as a builder"
First off, I wanted to say thank you for putting together this tool. The ability to specify local build context and have they transformed into images is great!

I have been using [Docker buildx bake](https://github.com/docker/buildx#buildx-bake-options-target) as a similar tool, using the Kubernetes executor to build images on k8 and push images.

I have been appreciating the ability to paralleliz

[2020-08-20 23:59] cppforlife commented on #43
kbld just calls docker build CLI command. layer caching is done by docker itself so no work for us there.

hmm, i havent really looked at docker buildx bake, i probably should. one of the goals for kbld was to wrap familiar building tools (docker build, pack build) so that they can be more easily used in a dev/prod workflow. i could see integration with buildx, but i havent personally used it so d

[2020-08-21 03:43] saulshanabrook commented on #43
Just FYI that docker buidkit is not enabled by default in the `docker build` command but is enabled by default in the `docker buildx` command. It has some extra parallelization functionality over the traditional docker build command as well as the ability use [build time caching for RUN commands](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md#experimental-syn

[2020-08-21 17:49] cppforlife commented on #43
do you typically write out something like this (https://github.com/data-apis/python-record-api/blob/4fa06df6c0eac85e9f54d70f7172dde9e1ef3125/k8/Makefile#L123-L169) and feed it into bake command? if so it sounds like this might be an interesting backend for kbld (as an alternative to docker build and pack backends) for more advanced users of docker. i could imagine instead of taking Dockerfile it c

[2020-08-22 12:37] saulshanabrook commented on #43
Yeah. Here is the generated JSON, which is a bit easier to reason about:

[code]

They also support some HCL version of the file, to generate this JSON as well, but I needed more flexibility than that, so I just switched to using jq generate the JSON instead.

[2020-08-28 19:36] ewrenn8 opened #44 "kbld commands are unable to work with insecure registries"
Error message:
[code]

Could support an `--insecure-registry` flag, which causes kbld to create a new registry with the insecure option, or just always include the option because ggcr will try https first then fallback on http.

[2020-08-28 21:33] cppforlife commented on #44
should be `--registry-insecure` so that it matches --registry-* prefix.

[2020-08-31 16:44] cppforlife commented on #43
👍  im going to keep this issue open for anyone who may be interested in contributing support for this type of builder.

[2020-09-02 14:38] cppforlife commented on #44
let's make this generic == apply to all commands.

[2020-09-02 23:01] ewrenn8 opened #45 "kbld does not error given an unknown command"
Kbld reports success given an unknown command.

[code]

This should error telling the user that `i-dont-exist` is an unknown command

[2020-09-08 19:14] cppforlife opened #46 "transport connection broken error during unpackage"
[code]

kbld consistently faced this issue against artifactory installed into a k8s namespace. we couldnt reproduce this issue in our own environments or after a few days within same atifactory env. filing this here for anyone else to report if they seen this.

[2020-09-11 00:08] cppforlife commented on #46
decided to ignore dup close error: https://github.com/k14s/kbld/commit/fed37ec1e811ab6b315024101d4df38a834403e2. https://github.com/k14s/kbld/releases/tag/v0.25.0 includes this change.

[2020-09-11 00:12] cppforlife commented on #44
included in https://github.com/k14s/kbld/releases/tag/v0.25.0

[2020-09-11 00:12] #44 closed, assigned to ewrenn8, gcheadle-vmware

[2020-09-16 20:49] #46 closed, assigned to nobody

[2020-09-25 22:06] Zebradil commented on #18
Processing resolved image might be useful to verify that the image is actually available.

[2020-09-25 22:10] Zebradil commented on #45
#33 is about the same, I guess.

[2020-09-25 22:21] ewrenn8 commented on #45
Yep, thanks for pointing that out! I will close this one as #33 has more context.

[2020-09-25 22:21] #45 closed, assigned to nobody

[2020-10-01 04:13] tompscanlan opened #48 "https in the repo name fails build"
From the simple app example, step 4 using an internal harbor repo

    $ ytt template -f config-step-4-build-and-push/ -v hello_msg="k14s user" -v push_images=true -v push_images_repo=https://harbor.internal.com/mygroup/test-cavel | kbld -f-

Fails:

[code]

Changing to
    $ ytt template -f config-step-4-build-and-push/ -v hello_msg="k14s user" -v push_images=true -v push_images_repo=harbor.inter

[2020-10-01 12:47] cppforlife commented on #48
^ this is the error that pops up in the first run (though ideally it should pop up before we try building anything). i dont believe it's conventional to include scheme in registry references (e.g. in k8s Pod image field it's never included) and in this case the underlying library that we use to parse registry references even refuses to accept it. i could see us adding some error message hint about

[2020-10-01 14:23] tompscanlan commented on #48
What is the underlying library? I can take this issue to them and close this. Agree, I don't usually include the scheme, but think it should get handled. This time I was cut and pasting from a url, and it got included.

[2020-10-01 21:42] pivotaljohn commented on #18
The guarantee that `kbld` is driving towards is ensuring that references are reliable — that they are digests (read: immutable) rather than tagged references.

The thinking goes that even if we were to check for the presence of the image, it doesn't prevent someone from removing it from the registry/repo moments later... it's not much of a guarantee. And in practice, if we've got digest-articulate

[2020-10-01 22:10] Zebradil commented on #18
So far I haven't faced a situation when a digest was removed, but this is still possible.

In some workflows resolved digests are sitting in manifests for a long time (months maybe) and the probability of disappearing that particular digest exactly in the time frame between subsequent invocations of `kbld` and `kubectl` (or `kapp`) is rather small. I personally feel more comfortable when pipelines

[2020-10-02 21:30] cppforlife commented on #48
@tompscanlan underlying library is https://github.com/google/go-containerregistry. it's used in varienty of tools that work with container registries.

[2020-10-02 21:37] tompscanlan commented on #48
Thanks, I'll follow up over there. You can close this or find a good error msg.

[2020-10-05 15:03] StarpTech opened #49 "Add a flag to create file from output"
Imagine following use case:

[code]

An error by `kbld` will clear the file `./.umbrella-state/state.yaml`. It's not possible to handle this case in an OS-independent construct. Providing a flag to create a file would be handy.

[code]

[2020-10-06 09:56] StarpTech opened #50 "Support different tag strategies"
Described in https://skaffold.dev/docs/pipeline-stages/taggers/

[2020-10-06 15:09] StarpTech opened #51 "support image override to pick latest version based on semver constrain"
Extend `kbld` to support a semver lock on arbitrary images. Basically, when an image is being resolved it would be constrained to some range `nginx:1.3.x` of tags and the latest within that tag range is picked.

## Why

This is very useful if you have to deal with dynamic environments. Instead to maintain and communicate none-breaking changes we could automate it.

## How

[code]

Related: https:/

[2020-10-06 15:17] cppforlife commented on #51
could reuse functionality from vendir's https://github.com/k14s/vendir/issues/10

[2020-10-06 17:56] pivotaljohn commented on #48
Thank you, @tompscanlan. I'm gonna close this issue, for now.

Would you mind letting us know how that goes?

[2020-10-06 17:56] #48 closed, assigned to nobody

[2020-10-06 18:23] pivotaljohn commented on #18
Thank you for persisting in your perspective, @Zebradil.

One of our core design goals across the Carvel suite is to ensure the operator has confidence in the moves they make with the tools.

I can absolutely envision the situation where I've been handed a bill of materials and want to verify that these "materiel" are present. 👍🏼

In fact, while `kbld` includes the annotation despite the fact that

[2020-10-06 18:29] pivotaljohn commented on #49
Yup, this is a well-established practice among CLIs.

What are you doing as a workaround?

[2020-10-06 18:38] StarpTech commented on #49
I will provide one script.sh and handle the exit code. I have to assume that windows users can execute shell scripts.

[2020-10-06 18:46] pivotaljohn commented on #50
That doc reference seems to speak for itself in terms of the mechanism. Thanks for the pointer, @StarpTech.

If we had to prioritize them, I wonder which strategies (or what _other_ strategies) are/would be used more frequently, in practice.

From the doc:

[2020-10-07 13:52] tompscanlan commented on #48
@pivotaljohn Following up here: https://github.com/google/go-containerregistry/issues/779

[2020-10-07 23:04] ewrenn8 opened #52 "support uploading kbld built images to tags"
For convenience, it may be helpful to allow the `destination.newImage` field of an `ImageDestination` document to contain a tag. Currently it errors when trying to auto-generate the upload tag

[2020-10-08 11:35] Zebradil commented on #18
I'm not sure if it makes sense to change the default behavior (when `kbld` doesn't actually resolve digest references). So, yes, I think the flag would be a good solution here to let people opt-in.

Thanks for considering this.

[2020-10-08 19:44] cppforlife commented on #52
i think it's probably better to have a separate tags field that will be an array. since a lot of times you may want to add multiple tags at once (e.g. `tags: ["1-latest", "1.0.1"]`)

[2020-10-09 15:26] pivotaljohn opened #53 "Optionally verify presence of images referenced by digest"
_(spawned from conversation in #18; thanks to @Zebradil)_

A user may want to verify that _digest_ references to images, in fact, resolve to an actual image.

Right now, when an image reference has already been resolved to a digest, `kbld` does not check for the presence of the image in the registry pointed to by the reference.

Allow the user to direct `kbld` to perform that check with a flag (e.

[2020-10-12 21:58] pivotaljohn commented on #48
🙏🏼

Subscribed.

[2020-10-17 22:28] StarpTech commented on #51
How can I help? I saw that you land semver-constraints in vendir https://github.com/k14s/vendir/releases/tag/v0.11.0.

[2020-10-17 22:36] StarpTech commented on #52
Would you accept a PR? When yes could you make a configuration example?

[2020-10-17 22:38] StarpTech commented on #52
I think the easiest solution would be to pass additional tags to https://github.com/k14s/kbld/blob/5baf1d5fefa9a76ce8d46556c376ec9d8662e0f9/pkg/kbld/image/docker.go#L95

[2020-10-18 13:17] StarpTech opened #54 "Contributing is hard"
I run into the following issues:

- Code can't be easily tested in an IDE because the setup of the tests isn't part of the go code.
- No easy way to debug it.
- Specific pack, ytt version is required. This can be automated.
- Running a test for a small cli change takes too much time. (~2min)
- Assertion fails are hard to read.
- No unit tests that verifying the correct work with programs like dock

[2020-10-18 15:20] StarpTech commented on #54
Additionally, when running

[code]
it produces
[code]

[2020-10-19 22:04] cppforlife commented on #54
thanks for taking time to record your observations/sugestions. i'll try to provide more context on each bullet below...

is it regarding env variables? is there setup step to do for IDEs to provide the necessary configuration? im not too familiar with IDEs so do tell us more about your setup. (i've been mostly using terminal for running tests hence my unfamiliarity.)

could you be a bit more speci

[2020-10-19 22:41] StevenLocke commented on #51
Thanks for raising your hand! There's always more for us to do and we appreciate the help.  If you want to pick this up and move it forward:

* Take inspiration from the vendir work, use the same library for consistency
* The general flow for resolving an image would be something like: fetch all tags, narrowing them to the ones that are in semver format, selecting the one which is latest and fulfi

[2020-10-20 01:43] cppforlife commented on #51
just fyi, since vendir work just landed recently, we may change how we use that library as we receive feedback from folks that requested that feature.

[2020-10-20 09:32] StarpTech commented on #54
Thanks for the detailed response.

There is no builtin support to attach a debugger to the spawned `kbld` process.

Exactly!

+1, the installation process can be automated by a build system like make or https://github.com/go-task/task (I'm windows user)

It just feels super heavy.

This is due to the reason that no stack can be generated when spawning the `kbld` process. Additonally, assertions ar

[2020-10-20 17:41] cppforlife commented on #51
following convetion from vendir this is probably what we would want as an API for this:

[code]

[2020-10-20 21:14] StarpTech commented on #51
That is great 👍

[2020-10-21 00:45] #52 closed, assigned to nobody

[2020-10-21 13:38] cppforlife opened #56 "[builder] add imgpkg as builder"
github.com/k14s/imgpkg is a builder that can create images from a set of files. let's have that as a backend. there probably needs to be two options: regular or bundle.

for bundles, i think we should have an option to run kbld to update images.yml

[2020-10-21 15:04] cppforlife commented on #52
included in https://github.com/k14s/kbld/releases/tag/v0.26.0

[2020-10-21 16:09] StarpTech commented on #52
Nice, thanks!

[2020-10-22 21:11] StarpTech commented on #54
## Testing

I could run the following setup locally. You have to replace `172.17.0.0/16` with your subnetmask of `minikube ip`

[code]

Run a single test

[code]

This should be part of the contributing.md

[2020-10-22 22:11] cppforlife commented on #54
@StarpTech oh i guess you went the route of running local registry for testing. using dockerhub might be easier since it avoid all kinds of networking complexities dealing with minikube etc introduces.

agreed, looks like good notes. do you mind making a PR for this?

[2020-10-23 10:33] StarpTech commented on #54
Yes. What your thoughts about my previous points?

[2020-10-23 10:38] StarpTech commented on #54
But it has several other drawbacks:

- Requires a docker account
- Pollutes your repositories (Free account has only 3)
- Requires good internet connection

[2020-10-26 12:01] Zebradil opened #58 "Docs deviation: Config, ImageOverrides and --lock-output"
`kbld --lock-output` produces a file with a resource of `Config` kind.
But in [the docs](https://github.com/k14s/kbld/blob/v0.23.0/docs/config.md) I don't see a mention that `kind: Config` has `overrides` key.

I'd like to clarify which `kind` is preferable for overriding images: `ImageOverrides` or `Config`.

Here is a snippet I used for testing:
[code]

[2020-10-26 19:22] cppforlife commented on #58
@Zebradil some time ago ive introduced Config kind which actually covers all the config (sources, destinations, etc.). since we want to be backwards compatible we will not remove dedicated kinds (e.g. Sources); however, going forward we will not be creating dedicated kinds. we should probably update docs to indicate that you can use kind Config for all configuration.

[2020-10-26 19:45] Zebradil commented on #58
So, if I understand correctly, using Config kind is preferable. Thanks a lot!

(Not sure if I should close the issue or it'll be closed after docs update)

[2020-11-05 19:08] ewrenn8 opened #60 "Move to K8s yaml package"
We should more from [ghdoss's yaml package](https://github.com/ghodss/yaml) to [the k8s yaml package](https://github.com/kubernetes-sigs/yaml), which is a more maintained fork.

[2020-11-05 19:44] pivotaljohn commented on #58
Leaving this open is perfect, @Zebradil; thank you.

@cppforlife does this match how you're thinking?:

1. in the main flow in the docs, replace all references to other configuration files (i.e. `kind: Sources`, `kind: ImageDestinations`, etc) with `kind: Config`
2. footnote in those various places that a deprecated way to express those configurations _was_ by using those specific kinds.

[2020-11-12 17:02] cppforlife commented on #54
i think your points about debugging and installation are fair. we have discussed some of the in the community meeting; however, we haven't settled on a concrete action plan.

[2020-11-12 17:20] StarpTech commented on #54
Thanks for the update.

[2020-11-14 13:09] cppforlife opened #63 "[builder] add support for buildkit-cli-for-kubectl"
https://github.com/vmware-tanzu/buildkit-cli-for-kubectl

submitted issues:
- https://github.com/vmware-tanzu/buildkit-cli-for-kubectl/issues/40

[2020-11-14 20:08] cppforlife commented on #63
basic implementation: https://github.com/vmware-tanzu/carvel-kbld/tree/kb-builder

[2020-11-15 11:56] StarpTech opened #64 "Is vendor directory used?"
Hi, the vendor dir isn't in sync. Do we use `vendoring` in this project?

[2020-11-16 15:39] cppforlife commented on #64
`go mod vendor` runs everytime we build: https://github.com/vmware-tanzu/carvel-kbld/blob/develop/hack/build.sh#L10. what do you see out of sync?

[2020-11-17 15:23] StarpTech commented on #64
When I run `go mod vendor` a lot of files are added.

[2020-11-17 18:29] danielhelfand commented on #64
Thanks for reporting this @StarpTech. We were able to also confirm vendor appears to be out of sync and opened a pr to resolve this. Please feel free to review and provide feedback on it.

One thing maybe we should consider in the future is having something as part of the CI to verify vendor is in sync to make sure we are not checking things in without properly updating vendor.

[2020-11-18 01:23] #64 closed, assigned to nobody

[2020-11-18 01:26] cppforlife commented on #64
LOL i think i finally realized what happened. PR https://github.com/vmware-tanzu/carvel-kbld/pull/62 did not include result of updated vendor/ dir after ./hack/build.sh hence vendor directory didnt include appropriate dependencies.

yes! if after build directory is dirty we should error in CI.

@StarpTech tip for future, run ./hack/build.sh and check out what files were modified ;)

[2020-11-18 09:39] StarpTech commented on #64
What's with https://github.com/vmware-tanzu/carvel-kbld/pull/66#issuecomment-729272967

[2020-11-18 15:59] danielhelfand commented on #64
I am not familiar with Go proxies, but they seem to be the suggested alternative to vendoring. Vendoring helps with assuring dependencies are available in the event remote repositories no longer exist. If we want to explore approaches with Go proxies, I would suggest opening an issue to formerly discuss it.

@cppforlife Any other context to provide on this?

[2020-11-18 18:57] StarpTech commented on #51
What's the status here? I will need this feature in the next weeks. @cppforlife How can I support you?

[2020-11-19 22:45] cppforlife commented on #51
implemented in this commit: https://github.com/vmware-tanzu/carvel-kbld/commit/489517a82e8fc4ffef343706c1232ddb479b8257. will try to cut a build in next few days.

[2020-11-19 22:47] cppforlife commented on #58
updated https://github.com/vmware-tanzu/carvel-kbld/blob/develop/docs/config.md.

[2020-11-19 22:47] #58 closed, assigned to nobody

[2020-11-19 23:15] StarpTech commented on #51
Awesome :+1: thank you.

[2020-11-20 17:36] danielhelfand opened #67 "skip hidden directories (start with .) picked up by -f"
Following up on https://github.com/vmware-tanzu/carvel-ytt/issues/240. The idea of excluding hidden directories with `kbld -f` I think is applicable as well as described in this [comment](https://github.com/vmware-tanzu/carvel-ytt/issues/240#issuecomment-730867004).

[2020-11-20 21:33] joaopapereira opened #69 "Tests fail to execute in clean environment"
When running the tests in a clean environment buildkit tests fail.

Reproduction:

This can be reproduced by hand.
1. Create a yaml file with:
[code]
2. Execute `cd test/e2e`
3. Run `../../kbld -f repro.yml --images-annotation=false`

The output we get is:
[code]

[2020-11-21 00:15] cppforlife commented on #69
looks like buildkit cli isnt happy with buildkit resource creation race conditions. probably make sense to use buildkit create builder command to avoid this for now. or better yet fix upstream.

[2020-11-21 06:57] mhoshi-vm opened #70 "Can kbld have workaround with manifests (Harbor)"
Due to recent DockerHub 429 issues, i really like kbld to be a solution to reallocating images to private registries.
However due to Harbor not supporting manifests, I am unable to reallocate the simplest alpine image.

[code]

[code]

Can we have some solution to overcome this manifests issue ?

[2020-11-21 17:55] danielhelfand commented on #67
To follow up on why I think this is important for kbld, the use case is that kbld -f is used on an entire directory that also contains an .imgpkg directory.

If all resources are defined in a single file, kbld can get around not worrying about the contents of the .imgpkg directory by specifically targeting kbld -f at that single manifest and another -f at the imageslock file.

However, if resource

[2020-11-22 12:35] cppforlife commented on #70
hmm, i was pretty sure harbor support manifest lists. is it an older version of harbor?

your alternative would be to look at manifest list, identify specific image (the one that makes sense for your platform) and then reference that instead of referencing to the manifest list.

[2020-11-24 09:04] mhoshi-vm commented on #70
Sorry you were correct, the latest harbor does support manifest... I was using an old version.
Thank you!

[2020-11-24 09:04] #70 closed, assigned to nobody

[2020-11-24 15:23] joaopapereira commented on #69
Are you suggesting
1. Update our code to create a builder before we run `buildkit build` command?
1. The behavior described in this issue happens on our tests. Are you suggesting that we should change the test to do a `buildkit create` before the test?

---
Unrelated questions:
Is `buildkit build` command supposed to be run multiple times in parallel? If so we should think about creating this issu

[2020-11-24 19:22] cppforlife commented on #69
yup, to avoid race condition inside buildkit cli. we do not want to add it to the builder since user might have created builder themselves with specific config.

yeah, that's why i said `or better yet fix upstream`. it seems that code in buildkit cli isnt smart enough to detect that k8s resource has been created after their get check, and before create check. (a less racy impl would be to issue cr

[2020-11-24 19:22] #60 closed, assigned to nobody

[2020-11-24 20:23] cirocosta opened #72 "Can't relocate images containing tag *and* digest"
Hi! 👋

I recently hit what seems to be a bug in how `kbld` keeps track of processed images:

[code]

it appears to me that the possible bug is somewhere around

https://github.com/vmware-tanzu/carvel-kbld/blob/371a1f845d6c2c0e1e1a8d45061a6b05447969c6/pkg/kbld/cmd/relocate.go#L123-L128

where `FindByURL` is passing the URL containing the tag (`$repo:$tag@$digest`) but we're adding to the map of pro

[2020-11-24 20:33] cirocosta commented on #72
the following patch _works_ but, I imagine there might be a better approach:

[code]

[2020-11-24 23:00] danielhelfand commented on #72
Thanks for reporting this @cirocosta. I have been able to reproduce the issue and can confirm your patch resolves the issue. Thank you for debugging this and pointing to where the error occurred.

In debugging this myself locally, I am also seeing that the `imgURL` is not found as shown below:

![image](https://user-images.githubusercontent.com/34258252/100161191-9540c280-2e76-11eb-921e-87fdfa2a3d

[2020-11-24 23:02] danielhelfand commented on #72
With the patch, the `imgURL` is properly found and the relocation goes through properly:

![image](https://user-images.githubusercontent.com/34258252/100161306-ccaf6f00-2e76-11eb-8ffa-d7cb8fa95a46.png)

[2020-11-24 23:28] cppforlife commented on #72
as a workaround you should be able to do this for now:

[code]

first kbld "normalizes" it to pure digest form. we'll report back with a fix a bit later.

[2020-11-30 15:59] #69 closed, assigned to nobody

[2020-11-30 18:00] danielhelfand opened #74 "Remove createBuilder Func from build_kubectl_buildkit_test.go if Upstream Issue is Resolved"
Opening this issue to give more visibility around eventually removing [`createBuilder` in `build_kubectl_buildkit_test.go`](https://github.com/vmware-tanzu/carvel-kbld/blob/1997580f07463f98502a557649377f79cb594380/test/e2e/build_kubectl_buildkit_test.go#L119) that was added in #73.

If the buildkit issue [here](https://github.com/vmware-tanzu/buildkit-cli-for-kubectl/issues/55) is resolved, the fu

[2020-12-03 19:34] tylerphelan opened #75 "Certs do not verify when running on windows"
When using kbld on windows, it doesn't use the system certs:

This works without having to pass in a cert:
[code]

But this fails:
[code]

Using `--registry-verify-certs false` fails with the same error.

We think this is because of:
https://github.com/golang/go/issues/16736

Note:
We checked and if you do not set the `RootCAs` [here](https://github.com/vmware-tanzu/carvel-kbld/blob/develop/pkg/kb

[2020-12-03 20:33] joaopapereira commented on #75
This issue was spawned from https://github.com/vmware-tanzu/kpack-cli/issues/128

[2020-12-03 21:13] joaopapereira commented on #75
After some analysis on Windows, `kbld` retrieves the certificate pool from the system using the `x509.SystemCertPool()` function in https://github.com/vmware-tanzu/carvel-kbld/blob/develop/pkg/kbld/registry/registry.go#L154 and uses that pool to create a new HTTP Transport.
Unfortunately, the System Pool will always return an error, in Windows, until Golang fixes the issue above. For more informat

[2020-12-07 08:56] hulucc opened #77 "Support for using alternative image repo when resolving or replace image repo after resolve"
When resolving image, I need the public url of registry(resolve outside k8s cluster), but need private url of registry at runtime for better performance.
`cnab-image-relocation` can't not replace image repo only and override in config will cause resolve fail.

[2020-12-08 00:57] cppforlife opened #78 "support a way to verify that all images are preresolved"
**Describe the problem/challenge you have**

when applying a lock file that preresolves all images, it may be useful to verify that all found images by kbld have indeed been preresolved by the config. this would help finding problematic config (of images) before they get deployed to the cluster and potentially cannot be downloaded.

**Describe the solution you'd like**

add optional `--expect-all-

[2020-12-08 18:01] danielhelfand commented on #77
Thanks for reporting this @hulucc. Would you be able to put together a simple example of how you are using `kbld` and `cnab-image-relocation` such that you are getting this failure?

[2020-12-08 18:29] danielhelfand commented on #78
I think the feature sounds like a good safety measure for users. Just had a thought below.

So with this feature, I would have something like the following:

[code]

If the validation by `kbld` from `--expect-all-preresolved` succeeds, then I would expect to be able to immediately after pipe to `kapp`? Or if `--expect-all-preresolved` succeeds, I would get a confirmation message that all images ar

[2020-12-08 18:46] voor commented on #78
The intention is that this will provide an early warning mechanism for my use case, which is all images are relocated with kbld and a failure to identify an image being relocated is a guarantee that the next step in the "chain" will fail, most likely due to an Image Pull Failure.  This would be leveraged in kapp-controller, so kapp would immediately follow kbld.

[2020-12-08 18:59] danielhelfand commented on #78
Thanks @voor for the clarification on relocation/having kapp-controller as the driving use case.

[2020-12-08 21:49] cppforlife commented on #78
yup. if it fails it will fail, and kapp will receive 0 resources and error out as well.

[2020-12-09 21:18] joaopapereira commented on #10
@cppforlife can you provide some more context about this issue. Also if it is still something that we would like to have implemented or not.

[2020-12-09 21:20] joaopapereira commented on #15
@cppforlife Do we still want to add kaniko as a builder for kbld?

[2020-12-09 21:39] joaopapereira commented on #30
To answer some of your questions:
1. Kpack did release a binary version, so maybe we can integrate with it: https://github.com/vmware-tanzu/kpack-cli
2. This one I think is still the same as in May
3. `kp image create` have a flag `--local-path` that looks like it solves the source code upload for us.

[2020-12-10 14:30] cppforlife commented on #30
oh that's very cool! i think the next step is to implement it and see if there are challenges with the workflow.

[2020-12-10 14:32] cppforlife commented on #15
i think it would be good to support it as a builder. what i imagine might be a custom kbld-kaniko binary that kbld calls out to. kbld-kaniko could focus on interacting with k8s to create kaniko pod. it would also have to figure out how to get local source code available to kaniko (hopefully thats something that could be borrowed from other tools).

this would help support folks that are trying to

[2020-12-10 14:36] cppforlife commented on #10
this is probably something we should do for kapp, imgpkg and other tools as well. goal is to error when yaml parser encounters a field that kbld config structs do not know about. eg

[code]

[2020-12-10 15:15] joaopapereira commented on #10
So I came up with some scenarios for this story. @cppforlife what do you think?

**Scenario** On field is unknown
**Given** I have the following file
[code]
**When**  I execute `kbld -f file.yml`
**Then** I should see the message
[code]

**Scenario** Multiple unknown fields
**Given** I have the following file
[code]
**When**  I execute `kbld -f file.yml`
**Then** I should see the message
[code]

[2020-12-10 21:43] jimconner opened #79 "Option to preserve path and name when relocating images"
**Describe the problem/challenge you have**

I'm deploying cf-for-k8s using kbld to relocate images to a harbor registry.
cf-for-k8s has takes images from many sources
e.g.
[code]
From the above we can easily work out which image is for which component as the project name and image name are contained within the path.

After relocation to my.private.registry/cf-images we've rendered the human-reada

[2020-12-11 14:51] cppforlife commented on #79
@jimconner we are planning to introduce functionality that would preserve "origin naming" as a tag (e.g. `index.docker.io/cloudfoundry/cf-api-package-registry-buddy` might be tagged as `cloudfoundry-cf-api-package-registry-buddy-<rand>`) as a middle-ground between preserving names and not doing anything at all.

in general we would much rather improve tracking of images and assigning metadata on t

[2020-12-11 16:29] jimconner commented on #79
Thanks for replying @cppforlife - Although I think that the 'origin naming' tagging idea is a good one which offers lots of opportunities when you're writing your own scripts/code, it wouldn't address my issue of making existing 3rd party tooling (such as image security scanners) present human readable reports.

Working in heavily locked-down, audited, air-gapped environments with onerous security

[2020-12-11 16:40] cppforlife commented on #79
do security scanners not include tags in the report?

[2020-12-11 16:45] jimconner commented on #79
Yes, tags are included, but the way the information is presented/grouped makes it difficult to understand which image is which.

![harbor-scan](https://user-images.githubusercontent.com/9944861/101930565-39916b80-3bd0-11eb-8d62-12ce7ce89f5b.jpg)

[2020-12-11 16:45] cppforlife commented on #79
separately, i think there is something to be said about scope of "discoverability". security scanner would indicate that there is an issue with `my.private.registry/cf-images/cf-image` (from your example). this indicates to whoever imported cf product that there is an issue with it --> need to update to cf product or submit a report (automated perhaps).

i would be very much interested in understa

[2020-12-11 16:54] cppforlife commented on #79
so if there would be a tag with a name instead of "kbld-sha256-..." that would be a step in right direction, right? another question that occurs to me is whether you are planning to import updates to CF into `my.private.registry/cf-images/cf-image` again. what about importing into `my.private.registry/cf-images/cf-image-vX` for each new version? that provides segregation of each new "product bundl

[2020-12-14 18:33] StevenLocke commented on #10
The golang yaml package has an [UnmarshalStrict method](https://godoc.org/gopkg.in/yaml.v2#UnmarshalStrict) which seems to accomplish exactly what's asked here.

I'd imagine that the resulting error would include which keys caused a problem and then we could simply exit out with the same error.

[2020-12-14 22:18] cppforlife commented on #10
let's take error message returned by whatever library we are using for yaml unmarshaling (not sure if it's sigs.k8s.io/yaml or yaml.v2).

[2020-12-15 13:14] cppforlife opened #80 "support hostname + base path rewrite"
**Describe the problem/challenge you have**

jfrog supports a way to proxy image downloads from a particular hostname + base path (e.g. jfrog.corp.com/project-x proxies all requests to upstream-registry.com/some-path). it should be possible to rewrite lock file to rewrite lock entries.

**Describe the solution you'd like**

if user is using imgpkg bundles then i think there would be no need for th

[2020-12-18 14:43] joaopapereira commented on #74
The issue was solved we will need to wait for a release of the CLI in order to solve this issue

[2020-12-18 14:47] joaopapereira commented on #74
As part of this maybe we should update our documentation saying we recommend using a newer version of the Buildkit CLI to ensure users do not run into this issue

[2020-12-18 15:08] danielhelfand commented on #74
Think calling out the specific version of buildkit to use in the [kbld buildkit docs](https://github.com/vmware-tanzu/carvel-kbld/blob/1b2df5f51bc691b16bb527c7752c7702d44594d5/docs/config.md#buildkit-cli-for-kubectl) makes sense. It looks like the [next release will be v0.1.3](https://github.com/vmware-tanzu/buildkit-cli-for-kubectl/releases), but we can keep an eye on it. We'll want to test this

[2020-12-19 00:06] Birdrock opened #81 "Add configuration to support Docker BuildKit"
**Describe the problem/challenge you have**
Dockerfiles that utilize BuildKit may require the `DOCKER_BUILDKIT=1` env var to build.

**Describe the solution you'd like**
Add configuration to support setting the `DOCKER_BUILDKIT=1` env var.

**Anything else you would like to add:**
One suggestion is to configure it via a key in the `sources.docker.build` path of the kbld `Config` type.

[code]

[2020-12-21 14:42] joaopapereira commented on #81
Hello @Birdrock
I see you are using the docker builder to create your image.
Is there any particular reason for you to use the Buildkit builder?
An example of that usage is can be found here https://github.com/vmware-tanzu/carvel-kbld/blob/develop/examples/simple-app-build-local-kubectl-buildkit/build.yml
More information about the options: https://github.com/vmware-tanzu/carvel-kbld/blob/develop/

[2020-12-22 18:52] cppforlife commented on #81
@joaopapereira i think @Birdrock is asking for docker specific buildkit integration support (not buildkit wrapped in kubectl).

@Birdrock yeah this sounds like a reasonable addition to docker.build options. would you want to PR this config?

[2020-12-22 21:36] Birdrock commented on #81
@joaopapereira Thanks for the example. My use case is to build images outside of a cluster, specifically from pre-existing Dockerfiles, that require Buildkit.

@cppforlife I'd be happy to PR this config.

[2021-01-11 19:31] joaopapereira opened #86 "imgpkg ImagesLock file changed format"
**Describe the problem/challenge you have**
Allows us to have better package boundaries and import a small ImagesLock package into `kbld` instead of duplicating the ImagesLock logic. This will help keep `kbld` and `imgpkg` in sync wrt `imgpkg` lock files.

**Describe the solution you'd like**
**Given** I am in the kbld github repository
**And** want to generate OCI images using the following confi

[2021-01-11 20:52] #86 closed, assigned to nobody

[2021-01-13 22:03] gcheadle-vmware commented on #81
Closing issue with release of version 0.28.0

[2021-01-13 22:03] #81 closed, assigned to nobody

[2021-01-13 22:04] gcheadle-vmware commented on #51
Closing issue with release of version 0.28.0

[2021-01-13 22:04] #51 closed, assigned to nobody

[2021-01-13 22:05] gcheadle-vmware commented on #63
Closing issue with release of version 0.28.0

[2021-01-13 22:05] #63 closed, assigned to nobody

[2021-01-14 14:03] sbose78 opened #89 "Hello from the Shipwright Community!"
Hello everyone!

I'm one of the contributors to the [Shipwright](https://github.com/shipwright-io/build/)  project and wanted to say Hi 👋 since we are working on solving similar problems. 🍷

Good wishes on your project!

Cheers,
Shoubhik

[2021-01-14 18:30] danielhelfand commented on #89
Hi @sbose78,

Thanks for introducing the Shipwright project to us. We would be excited to collaborate further if there are mutual opportunities for Carvel/Shipwright. If you are interested in talking further about Carvel tools, feel free to join our [slack](https://kubernetes.slack.com/archives/CH8KCCKA5) channel on the Kubernetes slack.

Closing this for now, but looking forward to hearing more f

[2021-01-14 18:30] #89 closed, assigned to nobody

[2021-01-14 18:49] danielhelfand commented on #15
@cppforlife Do you mind explaining the use case here a bit further?

Another question is why this should needs a custom binary and why `kbld` and `kaniko` can't be used independently to achieve the same goal?

[2021-01-15 21:39] pivotaljohn opened #91 "Couldn't find a field in "Configuration" docs"
**What steps did you take:**
During the TGIK session, while attempting to build with Docker, Josh Rosso was looking up the meaning of a field (`path`) in the configuration in the docs.

**What happened:**
He couldn't find it without the help of a Carvel team member. He scrolled immediately down to the "Docker" section... and looked for the definition of `path` (which is actually part of `Source`).

[2021-01-15 22:17] joaopapereira opened #92 "Deprecate functionality that is now in imgpkg"
**Describe the problem/challenge you have**
Some of the functionality that already is part of `imgpkg` should be deprecated from `kbld`

**Describe the solution you'd like**
Scenario 1:

**Given** I have `kbld` installed
**When** I execute `kbld --help`
**Then** I should not see reference to `relocate`, `package` or `unpackage`

Scenario 2:

**Given** I have `kbld` installed
**When** I execute `kb

[2021-01-19 13:21] cppforlife commented on #15
folks want to be able to build their Docker image from Dockerfiles on k8s cluster (not on their local machine) without having to expose privileged socket to underling Docker daemon running on the node (also lots of folks migrated to containerd which means that it's not even possible).

kaniko does not deal with orchestrating kubernetes pods. kbld should not important special libraries (k8s librari

[2021-01-19 15:06] cppforlife commented on #92
i wonder if it's also worth hiding pkg/unpkg/relocate commands from `kbld -h`? if not then may be also adding `[deprecated]` prefix to command description.

[2021-01-20 14:59] danielhelfand commented on #91
Part of me thinks this can be solved if someone does a cmd + f or ctrl + f on the page to find the information. It's the second mention of `path` on the page in this case.

Any further thoughts on this? Is the suggestion to move schema definitions under each section on the page (e.g. `path` under the Sources section)?

[2021-01-20 15:08] danielhelfand commented on #92
I am wondering if it would be worthwhile to write a message to stderr with a deprecation warning. Maybe also mentioning `imgpkg` docs in the message. This would be in addition to hiding the commands from help.

Do we have any recommended time line for fully removing commands from other Carvel tools?

[2021-01-20 15:44] joaopapereira commented on #92
Hmmm, I think we get that for free if we set the cobra command as deprecated, using the deprecated field in the struct. But it is good to ensure that.

According to our release process document, we say 3 minor releases but we did not have a major discussion to understand if this timing makes sense to our type of tools that are more long living

[2021-01-20 17:53] gcheadle-vmware commented on #91
I was thinking that including all the keys in each example, and then linking fields to where they have already been explained (such as `path`), would convey the hierarchy and provide the user with the info they need at any point in the page.

[2021-01-21 17:56] danielhelfand commented on #79
Removing the stale label. This was marked as discussion, which we skip for marking things stale. Due to a typo in our GitHub action, this was accidentally labeled stale.

[2021-01-21 21:46] joaopapereira commented on #15
@cppforlife given your description do you think this should be part of `kbld` repository/work? or it should be created separately and when finished integrate it with `kbld`?

[2021-01-23 01:12] #77 closed, assigned to nobody

[2021-01-25 19:13] voor opened #95 "kbld inspect should have an output option for lock file"
**Describe the problem/challenge you have**
I am bringing in new capabilities, for example from a `helm template` call, and I want to quickly and efficiently build a kbld configuration file that I know encompasses the images outlined in that template.

[code]

This output, while very helpful, requires a fair bit of massaging to get into a kbld config format.  There is a JSON output, but even that

[2021-01-26 14:57] voor commented on #95
Some additional context which is pretty important in retrospect: most kbld commands assume accessibility to the containers that are being evaluated.  This assumption works great for most use cases, but in the event you're unable to actually reach out to the repository where the containers are hosted *or* that repository might be invalid, you need a solution that can work without inspecting the con

[2021-01-27 14:20] cppforlife commented on #95
@voor could you also add context on what you are trying to do with list of images that were returned. i think understanding full workflow will give us better ideas how to address this e2e.

[2021-01-27 14:30] voor commented on #95
Sure!

The full end to end solution is to then take this file and add on overrides.  We relocate the images from (continuing the above example) `docker.io/bitnami/chartmuseum:0.12.0-debian-10-r261` to `registry.example.com/oss/chartmuseum:0.12.0-debian-10-r261`, so we then massage the output lock file into something that looks like this:

[code]

*This is happening completely offline, we don't hav

[2021-01-27 22:35] cari-lynn commented on #95
Hey @voor, thanks for submitting this. We think its a great idea to have `kbld inspect` output a `kbld` `Config` format. We are going to discuss with product and add a story to our backlog.

As a general question, what other output formats do we think we could support in the future? That may influence whether we use a generic flag like `kbld -f - -o kbld` or something more specific like `--kbld-co

[2021-02-02 06:59] absoludity opened #97 "Images present as args to a container command are not included nor substituted with kbld"
**What steps did you take:**
For kubernetes native apps, it's not uncommon (I don't think?) to have deployments which trigger `Jobs` using a specific image. In this case, the image to use is configured with the executable, as in the following small example:

[code]

**What happened:**

When running `kbld` only the container image is found:

[code]

**What did you expect:**
I (naively) expected bot

[2021-02-02 11:38] absoludity commented on #97
Another thought related to this: even if it's difficult to capture images not in a standard location, it would half-solve the issue if kbld ensured that when my image lock file already includes a specific image to match that it substitutes that image wherever it is found rather than only in standard locations.

I verified that currently `kbld` does not substitute the image in the command arg of th

[2021-02-02 19:41] gcheadle-vmware commented on #97
Hi @absoludity,

kbld cannot replace strings like "--some-img-arg=docker.io/bitnami/kubeapps-asset-syncer:2.0.1-scratch-r0" with a resolved image while retaining the prefix. We feel it would be too risky if kbld was able to replace every substring that looks like an URL.

However, kbld has custom search rules that you can set with a [kbld configuration](https://carvel.dev/kbld/docs/latest/config/)

[2021-02-03 09:12] absoludity commented on #97
Thanks, I'll have a play with the config to get a feel for what's possible now.

[2021-02-04 14:59] #37 closed, assigned to nobody

[2021-02-05 16:39] aaronshurley commented on #37
This was released in [v0.29.0](https://github.com/vmware-tanzu/carvel-kbld/releases/tag/v0.29.0).

[2021-02-06 19:35] pivotaljohn opened #99 "Document `ko` builder configuration"
#98 added capability to delegate to `ko` for image construction.

Update the [Configuration documentation](https://carvel.dev/kbld/docs/latest/config/) to list and detail this new builder's configuration.

[2021-02-10 14:31] benmoss opened #100 "Can't relocate to registry with a port"
**What steps did you take:**
[code]

**What happened:**

**What did you expect:**
This should work, I don't know why there should be this regex constraining the repository

**Environment:**

- kbld version (use `kbld --version`): 0.29.0
- Docker registry used (e.g. `Docker HUB`):  https://hub.docker.com/_/registry

[2021-02-10 15:19] joaopapereira commented on #100
Hey, @benmoss we are deprecating (#92) the relocate functionality on `kbld` and pointing people to start using [imgpkg](https://carvel.dev/imgpkg).
Do you see any particular reason why you would not be able to use `imgpkg` instead of `kbld`?

[2021-02-10 17:13] benmoss commented on #100
Nope, that was one of the more confusing parts about kbld and imgpkg, so glad to see it being cleared up.

[2021-02-10 17:13] #100 closed, assigned to nobody

[2021-02-10 20:08] cppforlife commented on #100
for the record if you are trying to relocate things into registry then you have to provide repository location e.g. `--repository localhost:5000/my-stuff/` (otherwise we do not know where to place things and underlying libraries will think that :5000 is a tag for localhost image)

[2021-02-10 22:39] benmoss commented on #100
ah yes that was the problem, not the port. thanks!

[2021-02-11 21:18] cppforlife commented on #15
this is probably easiest and nicest path.

[2021-02-11 21:19] joaopapereira commented on #15
Sounds good. Accepting this but it will be blocked until we develop this tool to do the integration

[2021-02-16 16:23] benmoss opened #101 "--imgpkg-lock-output should tell user it only works with pushed images"
**Describe the problem/challenge you have**
If a user tries to use the `--imgpkg-lock-output` flag without relocating the images, you'll get this cryptic error message:
[code]

The problem is that the imgpkg lock file format needs a resolved image digest, which the local docker image storage cannot provide.

**Describe the solution you'd like**
A better error message is a start, maybe some documen

[2021-02-16 18:47] joaopapereira commented on #101
I can reproduce the above error.

**Note:** we should do this check before we build the images since the feedback loop would be too big.
**Note2:** This error comes from the imgpkg package https://github.com/vmware-tanzu/carvel-kbld/blob/develop/vendor/github.com/k14s/imgpkg/pkg/imgpkg/lockconfig/images_lock.go#L63 nevertheless we should not change the error message there. This behavior should be

[2021-02-17 18:18] cppforlife commented on #79
closing here in favor of https://github.com/vmware-tanzu/carvel-imgpkg/issues/60 (kbld relocate functionality is superseded by imgpkg copy).

[2021-02-17 18:18] #79 closed, assigned to nobody

[2021-02-18 20:28] #99 closed, assigned to joaopapereira

[2021-02-23 20:53] joaopapereira opened #103 "Error out when configuration key is unknown"
**Describe the problem/challenge you have**
When a user provides configuration to `kbld` but that configuration contains a typo or a key that should not be part of the configuration, `kbld` does not error out or tell the user that the configuration has keys that `kbld` does not know off.

One example would be
[code]
the key `testing` does not exist

**Describe the solution you'd like**
`kbld` shou

[2021-02-23 21:05] joaopapereira commented on #103
Duplicated of #10

[2021-02-23 21:05] #103 closed, assigned to nobody

[2021-03-01 22:11] StevenLocke commented on #91
Do we think this is still an issue now that the search feature is live? When looking for `path` in the kbld docs, it points to `Configuration -> Schema` and `Configuration -> Sources`, which would both point to the right place.

[2021-03-03 23:47] pivotaljohn commented on #91
I see your point, @StevenLocke.

However, the original issue has to do with how clearly this reference is (or isn't) clearly presenting the whole structure of `Config` to a person merely reading the page.

[2021-03-04 16:57] pivotaljohn commented on #91
Yes:

1. In the YAML document under "Schema", show the entire document, including optional fields to help connect the top-level structure with each of the optional sub-trees
2. right under that snippet, only describe the top-level fields and then include links to each of the sections (i.e. "Sources", "Destinations", "Overrides")
3. within each section (e.g. "Sources"), describe its top-level field

[2021-03-09 18:47] joaopapereira commented on #92
Fixed in both PRs associated

[2021-03-09 18:47] #92 closed, assigned to joaopapereira

[2021-03-09 18:48] joaopapereira commented on #92
This will be released on version v0.30.0

[2021-03-15 23:42] DennisDenuto commented on #97
Hey we (@cari-lynn and I) were thinking about this more in our community meeting and have a workaround you can try out:

At a high level, you could try setting an environment variable on your Deployment/PodSpec, and configure kbld to resolve the value configured in the environment variable.

for e.g.

deployment.yml
[code]

kbld-config.yml
[code]

And then run:
`kbld -f .`

Let us know if this wor

[2021-03-22 05:35] jpeach opened #106 "kbld depends on vendir "versions" package, that doesn't exist any more"
kbld has a dependency on github.com/vmware-tanzu/carvel-vendir/pkg/vendir/versions@v0.14.1-0.20201119204632-393bea7fb738

The `versions` package was removed from vendir  in 62ad5bc4e35be20d937f07fe960da724fdd2c8f0, so you can't build against vendir 0.17

[2021-03-22 22:14] cppforlife commented on #106
it got moved here: https://github.com/vmware-tanzu/carvel-vendir/tree/develop/pkg/vendir/versions/v1alpha1.

[2021-03-23 06:32] absoludity commented on #97
Thanks @DennisDenuto . I don't think that would work generally (but to be clear, this isn't a pressing issue for me - I was just playing with [kbld and helm post rendering](https://liveandletlearn.net/post/carvel-imgbld-with-helm-post-render/) ). Often I'd be rendering charts or yaml configs over which I don't have control - so I can't just update it to switch in an env var. I'd need to be able to

[2021-03-23 16:01] cppforlife commented on #97
a common option here is to rely on ytt to transform the yaml so that it's more friendlier to other tools.

[2021-03-23 16:29] cppforlife commented on #97
one possible feature addition i see here is that we could teach kbld to accept ytt functions as a way to deal with more complex input. at some point trying to describe in yaml how to replace parts of arbitrary content becomes too complex and inflexible (if possible at all), so providing "break glass" feature for user to search and replace image ref within chunk of content seems to be a very appeal

[2021-03-24 18:03] StevenLocke commented on #106
Thanks for pointing out the change! We'll get that upgrade into kbld soon, and we made a PR to track it.

In the meantime, if you need to build against vendir v0.17.0, take a look at the PR (#107) for an example. It's not too bad, mostly just changing the version in go.mod and naming the v1alpha1 package import.

[2021-03-25 19:37] cari-lynn commented on #97
A similar feature to accepting ytt functions or Starlark snippets has been discussed in kapp [#11](https://github.com/vmware-tanzu/carvel-kapp/issues/11) as well. It makes sense to think of this possibility in a larger context across the tools so we can provide a consistent experience. Starlark also already supports a regex library we could utilize here.

However, we expose configuration [`SearchR

[2021-03-25 21:01] #106 closed, assigned to nobody

[2021-03-26 16:43] StevenLocke commented on #54
While working on testing a PR, I ran into issues running our tests as well. `insufficient_scope: authorization failed`

After lots of digging and help from @DennisDenuto we found that I had some docker environment variables set. [0]

Unsetting them allowed kbld `hack/test-all.sh` to pass again, presumably using default values.

[0] The docker vars were:
[code]

[2021-04-06 17:21] pivotaljohn commented on #80
**As** someone installing an app containing a bunch of images
**And** I have a virtual repository configured (which includes all of the possible source registries that I'd pull my images from)
**I want to** be able to rewrite my `ImagesLock` such so I'd obtain all of those images from that virtual repository

For example:

Given an initial `ImagesLock`:
[code]

JFrog Artifactory is configured with

[2021-04-06 18:08] pivotaljohn commented on #80
Part of the answer is: if we value the convenience of such a feature over the compactness of the tool suite.

If a user has opted-out of using bundles, the request of this issue is the one remaining gap in functionality that would allow them to complete their workflow with just `kbld`. For convenience's sake, yes, we'd include this in `kbld`.

However, `imgpkg` is technically the tool that owns th

[2021-04-07 19:36] joaopapereira commented on #91
I think that the approach that @pivotaljohn outlined will be helpful. This would lower the amount of repetition we have, where we define the list of sources possible twice, and also provide better visualization of the Configuration.
Accepting this story to implement the above suggestion from John.
When implementing this issue we should look out for other points in the `kbld` where we do something

[2021-04-14 22:50] kvaps commented on #15
It would be nice to have kaniko support for kbld.
I already fully switched to building images directly on Kubernetes.

To achieve this I use my own written wrapper for kaniko.
Writing tiny as possible plugin for kubectl was  preferred task to me so I used standard shell scripting.
Thus, you can easily inspect it, check it out:

https://github.com/kvaps/kubectl-build

[2021-04-20 22:10] pivotaljohn commented on #80
A need like this was mentioned in [#carvel](https://kubernetes.slack.com/archives/CH8KCCKA5/p1618955488392800?thread_ts=1618955080.391400&cid=CH8KCCKA5).

[2021-04-20 22:29] pivotaljohn commented on #80
In a side conversation about that request ☝🏼 , @cppforlife pointed out:
- i would argue that this _should_ be in scope of kbld since it's more about rewriting hostnames that kbld knows about.
- keep in mind that ImagesLock is just one source of image overrides.
- this part (i.e. the rewriting of hostname) _is resolving_ though. if user says: trust me this image is actually here, then kbld should m

[2021-04-22 15:12] cppforlife commented on #15
@kvaps that's pretty cool. would you be interested in making a PR to kbld to support your tool as a builder?

[2021-04-22 21:03] kvaps commented on #15
Right now I'm not sure about this. I'm pretty new in kbld. I like the concept but my use case is slight different.
Mainly I use qbec.io to render jsonnet and deploy an applications out of it.

Since the last versions I can use external sources, for example I can inject commit hash into annotations and so on.
Now I'm looking for some tool which would allow doing me the following:

[code]

I don't n

[2021-04-23 17:34] cppforlife commented on #15
sounds like you just want kbld to build them but not use the built references in the yaml output. you can throw away yaml output kbld produces, right? (im guessing you are using tags, and do not want to use digests?)

kbld doesnt know what kubernetes is, so no need to add dummy deployments. just need to have some image references. e.g. this would be valid kbld input (it just have to be some yaml)

[2021-05-13 13:32] coro opened #108 "`keyMatcher.Path` cannot resolve images nested within a list"
**What steps did you take:**
I followed [this documentation](https://carvel.dev/kbld/docs/latest/config/#schema) to reference a nested key. Specifically, the following instruction:

To demonstrate the issue, here is a repro, containing a kbld config, an imgpkg lockfile and a manifest I wish to transform:
[code]

**What happened:**
I ran the kbld command, and only some of the image references were

[2021-05-13 14:03] joaopapereira commented on #108
At this point in time keyMatcher.path can only match on a specific key name for an object or all the array or a specific index on the array. You cannot add a matcher like `{name: first-item}` that would try to match a key value on an array item.

For your case in particular you could use these matcher rules:
[code]
This would try to match `spec.list[*].default` and `spec.list[*].nested.default`, s

[2021-05-13 15:18] coro opened #109 "Manifest searching stops recursing below any key named `image`"
**What steps did you take:**
To demonstrate the issue, here is a repro, containing a kbld config, an imgpkg lockfile and a manifest I wish to transform:
[code]

**What happened:**
I ran the kbld command, and only some of the image references were replaced with the resolved image path:
[code]

This also occurs if you use a valueMatcher for all instances of the image:
[code]
[code]

**What did you e

[2021-05-17 18:24] cppforlife commented on #108
i could see us adding a matcher that matches on the content of the array item e.g. `[foo, {contains: {name: "blah"}}, blah]`. this does look a bit more involved from the code perspective, so would be nice to see more real life examples where `allIndexes` is not good enough.

[2021-05-18 17:02] cppforlife commented on #109
available in v0.30.0

[2021-05-18 17:02] #109 closed, assigned to nobody

[2021-05-19 15:42] aaronshurley commented on #108
We'll move this to our Unprioritized Backlog for now. For folks that stumble upon this issue, please surface any additional examples that would support this feature request.

[2021-06-21 17:46] aaronshurley opened #113 "Capture image metas information in imgpkg lock file and ensure it's consumed properly"
**Describe the problem/challenge you have**
This issue is in support of a [larger (i.e. multi-tool) functionality](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/223). From that issue:

**Describe the solution you'd like**
From the originating issue:

A human-readable annotation that states the "source" tag. For kbld, this would likely mean adding additional metadata to the imgpkg l

[2021-06-23 18:51] danielhelfand opened #121 "Show Less Stdout when using --imgpkg-lock-output"
**Describe the problem/challenge you have**

When generating an ImagesLock file with `kbld -f ... --imgpkg-lock-output ...`, stdout showing the configs from `-f` is displayed as part of the output of running the command:

[code]

It makes it difficult to know exactly what happened as far as producing the ImagesLock file.

**Describe the solution you'd like**

The output should not show the underly

[2021-06-23 21:12] danielhelfand opened #122 "Change descriptions for --imgpkg-lock-output and --lock-output"
For users unfamiliar with kbld/imgpkg, it may be difficult to distinguish between the following flag options:

[code]

There should be more added to the descriptions about when to use each. Something detailing that `--lock-output` does not produce an `images.yml` for imgpkg might help users looking for more information through `kbld --help`.

[2021-06-24 17:10] cppforlife commented on #122
i wonder if we should just hide --lock-output option?

[2021-06-24 19:02] joaopapereira commented on #122
I was thinking if we have users that are still using the kbld lock files or not.
Maybe hiding them in the help would be enough of a signal to start using imgpkg lock files since kbld can also consume them after

[2021-06-25 18:15] aaronshurley commented on #121
Hmm... This is an interesting idea. This would mean that the kbld resolve output would vary when an `--imgpkg-lock-output` flag is provided. This feels a little inconsistent to me. I assume that users are using the output to pipe into another command or save into a file. This probably depends on your workflow but without the output, I think you'd need to run two kbld commands: one with the flag (t

[2021-06-25 18:28] danielhelfand commented on #121
I guess my point would be here why generate the images lock file at all if the intention is to use the output elsewhere? My thought would be specifying `--imgpkg-lock-output` is really for users to create the lock file such that it could be used with `kbld -f  ... -f .imgpkg/images.yml` later on.

If the goal is to pipe into somewhere else, why not just run `kbld -f ... | kapp ...` without the img

[2021-06-29 06:03] GrahamDumpleton commented on #121
The assumption:

is wrong for some use cases.

You are assuming here that the input is only Kubernetes resources, but technically you can run ``kbld`` on unprocessed resources not yet sent into ``ytt``.

This can be necessary where conditional logic means that processing the input files would mean that resources don't include all images you may want included so they can be subsequently copied usin

[2021-06-29 15:34] jorgemoralespou commented on #121
Agreed. The usage of the stdout/stderr and writing to files throughout the Carvel toolsuite makes it really hard to consistently know what to expect. (e.g. https://github.com/vmware-tanzu/carvel-kapp/issues/239#issuecomment-870161141) where you have a `--tty=false` to disable output.

cc/ @vibhas Consistency of the whole suite of tools with relation to some of this non-common behaviors should be d

[2021-06-30 16:58] aaronshurley commented on #121
Thank you all for the thoughtful responses! It sounds like we do have quite a bit of support for this request. As called out, we need to consider the consistency of the whole suite for changes like this.

I'm going to move this issue to `carvel-accepted`. We likely won't prioritize this until we define/refine our approach for the whole suite. We'll be sure to include y'all in any proposals for tha

[2021-07-13 02:03] mohansitaram opened #128 "kbld integration with bazel for building imgpkg bundles."
**Describe the problem/challenge you have**
We are currently using bazel to build docker images from source code. We are also using helm charts and imgpkg bundles to package all application code and config. The challenge we are facing is this: Given an application that has a helm chart and bazel rules for building its docker images, how do we create an imgpkg bundle for it?

**Describe the solutio

[2021-07-14 15:14] aaronshurley commented on #128
Hi @mohansitaram, thank you for surfacing this idea. I can see how the streamlined workflow in the second scenario that you proposed would be an improvement. Personally, I'm not very familiar with bazel but if I understand your use then it feels similar to the way that kbld currently [allows different build sources (such as docker, pack, buildkit, ko)](https://carvel.dev/kbld/docs/latest/config/#s

[2021-07-14 22:13] mohansitaram commented on #128
@aaronshurley yes it would be great if bazel is another build tool that kbld can support similar to docker, pack, ko, etc. I can imagine a solution like this:

- kbld is given a kubernetes yaml file for an application. The yaml file has image references.
- There is also another (new) config file that has bazel config to build images mentioned in above yaml file.
- kbld calls bazel build <bazel tar

[2021-07-14 23:45] aaronshurley commented on #122
@cppforlife @joaopapereira If we're considering hiding the `--lock-output` flag, then could we begin the deprecation process of it?

@danielhelfand would hiding the `--lock-output` flag satisfy your use case?

[2021-07-19 18:23] cppforlife commented on #128
@mohansitaram given your experience with bazel would you be interested in contributing support for this builder? it sounds like it might be something similar to either https://github.com/vmware-tanzu/carvel-kbld/blob/develop/pkg/kbld/image/built.go#L57-L60 (builtkit-on-k8s builds and pushes images in one go) or https://github.com/vmware-tanzu/carvel-kbld/blob/develop/pkg/kbld/image/built.go#L63-L6

[2021-07-19 18:23] cppforlife commented on #122
i think it's ok to hide it to encourage users to use --imgpkg-lock-output.

[2021-07-19 19:11] mohansitaram commented on #128
@cppforlife Our team would certainly like to contribute. We will figure out the staffing needs and get back to you on this.

I was thinking that we create the imgpkg bundle using the images from docker daemon. And when we push the bundle to the destination registry it also pushes the images. Similar to the imgpkg copy workflow using a tar file that has both yaml and image. As far as who pushes it,

[2021-07-22 15:59] cppforlife commented on #128
imgpkg does require that images referenced in images.yml are in the registry (it wants a fully resolved digest ref), so i dont think imgpkg would be applicable here.

option (2) is the simplest to implement because that's what other builders do as well. also given the statement above about imgpkg needing full registry refs.

if you are trying to get to an imgpkg bundle, my current recommendation i

[2021-08-03 15:18] gabegorelick commented on #121
I was expecting this too. I have no opinion on what the default should be, but there are definitely times when I don't want all that output. For example, https://carvel.dev/imgpkg/docs/latest/basic-workflow/ tells you to run `kbld -f config.yml --imgpkg-lock-output .imgpkg/images.yml`. We don't use stdout in that case, but the huge amount of output (we have a lot of YAML) often crashes our CI's UI

[2021-08-24 16:51] gcheadle-vmware commented on #122
Accepting issue since we have come to a conclusion to hide the `--lock-output` flag from the help text. Prioritizing it to hopefully be in the next release, ready to be pointed/worked on.

[2021-08-25 16:24] pivotaljohn opened #143 "Build and install Apple Silicon-targeted versions of kbld"
see vmware-tanzu/carvel#218

Do it like we do for ytt.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are other more important things to focus on right now"

We are also happy to receive and revi

[2021-08-26 19:09] aaronshurley commented on #75
Due to the age of this issue and the fact that we haven't heard about this from more users, we should see if this is reproducible today before starting implementation.

[2021-08-26 20:11] cliuj commented on #128
Hey @cppforlife , @aaronshurley , @mohansitaram , I'm currently working on a bazel builder support for option 2. I will keep you guys updated with the results.

[2021-08-27 15:46] aaronshurley opened #146 "GitHub worklow tests should test latest (or a more recent) version of minikube/k8s"
**Describe the problem/challenge you have**
I noticed a [kapp PR](https://github.com/vmware-tanzu/carvel-kapp/pull/274/files) was submitted to test against the latest version of minikube, and therefore a recent version of kubernetes. I noticed that [kbld is testing against an outdated version of minikube/k8s](https://github.com/vmware-tanzu/carvel-kbld/blob/404cca83c1c7a1775d5fe09940d1641058075ce7

[2021-08-27 15:47] aaronshurley opened #147 "kbld v0.31.0"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
- [x] [Create an OSM Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#OSM-Release)
    - [x] [Create a Github release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-a-Github-Release)
    - [x] [Create the Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Creat

[2021-08-27 17:23] DennisDenuto commented on #143
Next release 0.31.0 will contain an arm binary.

When updating the homebrew and install.sh, remember to also now include a reference to the arm binary

[2021-08-31 17:48] pivotaljohn opened #152 "Make it easy to run End-to-End tests without hitting into Docker Rate Limiting errors"
**What steps did you take:**
Ran the `kbld` end-to-end tests.

**What happened:**
The tests failed due to hitting DockerHub's rate limits.

This has been observed:
- in a test case using a CLI to build/push an image (e.g [kbld/test-gh #368](https://github.com/vmware-tanzu/carvel-kbld/runs/3445421481?check_suite_focus=true))
- while deploying the custom registry in the minikube-supplied K8s cluster

[2021-08-31 17:54] pivotaljohn commented on #128
Updated issue to reflect current state. PR is waiting for review, now.

[2021-09-02 15:54] pivotaljohn commented on #147
- #128
  added as ZH dependency: it's close to landing.

[2021-09-02 21:18] gabegorelick opened #155 "Ability to exclude images from ImagesLock"
**Describe the problem/challenge you have**
I'm using `kbld` to generate an ImagesLock file for use with `imgpkg`, as outlined in https://carvel.dev/imgpkg/docs/latest/air-gapped-workflow/. But not every image should be part of the resulting imgpkg bundle, specifically any images that will be available behind the airgap. For such images, including them
would at best be wasteful.

Even worse, somet

[2021-09-03 23:40] pivotaljohn commented on #95
A very similar request mentioned in this Slack conversation: https://kubernetes.slack.com/archives/CH8KCCKA5/p1630636823106500

[2021-09-07 18:03] pivotaljohn commented on #155
### Triage
This would be a valuable feature for `kbld` as it expands the tool's ability to cover more cases (here: where an image is referenced, but treated differently by the Carvel image handling tools: `kbld` and `imgpkg`). There's a workaround; but there's some downsides (noted, above).

### Next Steps
To move this forward, it would help to hash out a few details:
- how exactly would a particu

[2021-09-09 14:00] #146 closed, assigned to nobody

[2021-09-09 17:48] #152 closed, assigned to pivotaljohn

[2021-09-09 23:15] cppforlife opened #157 "support signing of images"
**Describe the problem/challenge you have**

i would like to be able to sign images with cosign that are built by kbld. this should work regardless of the builder i use (similar to tagging).

**Describe the solution you'd like**

**Anything else you would like to add:**

- sister issue in vendir for verifying: https://github.com/vmware-tanzu/carvel-vendir/issues/92
- should work well with imgpkg p

[2021-09-10 19:26] voor opened #158 "Take my imgpkg BundleLock and do something magical with it because it's relevant for kbld"
**Describe the problem/challenge you have**
I currently push imgpkg bundles to repositories and always use `--lock-output current-version.yml` to make sure I have a file that lets me know what tag I used and where my image is located.  I am an experienced Carvel user, so I know that I then need to copy `bundle.image` out of that resulting file and paste it into my App CR (or Package CR) for use in

[2021-09-10 19:31] pivotaljohn opened #159 "Remove any need for using long-lived secrets from CI"
**Describe the problem/challenge you have**
We did this:
- https://github.com/vmware-tanzu/carvel-kbld/issues/152
by plumbing our DockerHub credentials into the workflow.

However, GitHub does not supply the `secrets` context to workflows running from a fork of a public repo ([docs](https://docs.github.com/en/actions/reference/encrypted-secrets#using-encrypted-secrets-in-a-workflow)).

So, our wor

[2021-09-13 15:56] pivotaljohn commented on #159
Note https://ttl.sh/ (ref: https://kubernetes.slack.com/archives/CH8KCCKA5/p1630872310132300)

[2021-09-14 02:51] Jeremy-Boyle commented on #158
I would also like to see this @voor good suggestion !

[2021-09-14 13:03] voor commented on #158
So I thought a little more about this, and realized with the power of `ytt` I can basically achieve my goal and maintain pretty good flexibliity.
https://carvel.dev/ytt/#gist:https://gist.github.com/voor/fc6724f87ab0cd0c029f76184ee5290c

I just use the BundleLock as a data values input into ytt and have my App CR (or Package CR) templatized accordingly.

This does not work very well when the App C

[2021-09-14 17:18] aaronshurley commented on #157
@cppforlife Thanks for creating this issue. We definitely want to support signing images so the main question is "when" do we want to prioritize this work since it will take some cross-tool collaboration. Any urgency or rough timelines that you'd like to see this work done by?

[2021-09-15 16:50] cppforlife commented on #157
at this point just putting placeholders where i thought functionality should live.

[2021-09-16 13:10] pivotaljohn opened #160 "Warn the user when unrecognized image meta is dropped."
**Describe the problem/challenge you have**
When image meta is being parsed from an upstream `imgpkg` lock file,
if the structure of the meta is unknown to `kbld` (e.g. the meta was created by a newer version of `kbld` than the one being used to deploy),
then that meta is discarded without warning.

**Describe the solution you'd like**
While parsing meta, if one is unrecognized:
- with normal outp

[2021-09-17 18:29] pivotaljohn opened #161 "Capture image metas information in kbld lock file and ensure it's consumed properly"
Do the same as #113 but for the `kbld` native lock file.

_(forked from: https://github.com/vmware-tanzu/carvel-kbld/pull/132/commits/3d74e40ec8d788cfece06f77c0bb9500eb34933d#r711267072)_

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this

[2021-09-17 18:30] pivotaljohn commented on #161
Next step: determine whether metas are useful in the `kbld` lock file flow (or not).

[2021-09-17 18:47] pivotaljohn opened #162 "Document intended workflow with imgpkg"
**Describe the problem/challenge you have**
While integration with `imgpkg` is mentioned (specifically that one can generate a `kind: ImagesLock`), the user is left to infer the intended workflow. There are details (e.g. how meta is handled, how references are relocated, explicitly that this lockfile _is_ `.imgpkg/images.yml`) that are no documented anywhere.

**Describe the solution you'd like**

[2021-09-17 20:26] cppforlife commented on #162
i believe such documentation already is under imgpkg. if you think it's appropriate to link to it from kbld docs, that's probably good, but i would be a bit on the fence to introduce similar content in kbld directly.

[2021-09-21 17:32] pivotaljohn commented on #158
https://carvel.dev/ytt/#gist:https://gist.github.com/voor/fc6724f87ab0cd0c029f76184ee5290c

Yes: for those reading along, when `kbld` is _only_ replacing preresolved image references (and not building or resolving it), then it's very similar to templating or patching the file. 👍🏻

I'm curious, what about that approach "does not work very well"?

I immediately see a potential collision with other d

[2021-09-21 21:30] pivotaljohn commented on #128
Done.

[2021-09-21 21:30] #128 closed, assigned to nobody

[2021-09-21 21:44] #113 closed, assigned to cari-lynn, gcheadle-vmware

[2021-09-22 19:19] pivotaljohn opened #171 "Enable `completion` command"
**Describe the problem/challenge you have**
When #126 came by, we responded by disabling the automatic inclusion of the `completion` command (see  https://github.com/vmware-tanzu/carvel-kbld/pull/126/commits/5bed2f031710e1df04c6cf6d9306ce322e911fcc) because out of the box, that functionality was not compatible with `kbld`'s UI display.

**Describe the solution you'd like**
Figure out where those i

[2021-09-22 19:24] pivotaljohn opened #172 "Shorten the End-to-End test suite execution without reducing coverage"
**Describe the problem/challenge you have**
It's taking upwards of 20+ minutes for a single E2E run (see [test-gh workflow](https://github.com/vmware-tanzu/carvel-kbld/actions/workflows/test-gh.yml?query=is%3Asuccess)).

This stretches the feedback loop for local development, for CI... it's waste from delays.

**Describe the solution you'd like**
The faster the better.

This might involve digging

[2021-09-23 16:16] voor commented on #158
We already have ytt directives in our App CR, so when we ran through ytt to add in the bundle lock information it would attempt to execute those other directives, and output pure yaml.  This would be unblocked from https://github.com/vmware-tanzu/carvel-ytt/issues/63

[2021-09-23 21:39] cppforlife commented on #128
@cliuj really nice work on getting this integrated!

[2021-09-23 21:45] cppforlife commented on #158
few paths i see, add imgpkg builder (https://github.com/vmware-tanzu/carvel-kbld/issues/56), and/or provide a way for imgpkg push to produce images lock. the problem with producing image lock is that it does not help kbld (running against PackageCR) know what to replace.

[2021-09-23 22:32] aaronshurley opened #173 "Bump go version to latest"
**Describe the problem/challenge you have**
We want to ensure that the code remains compatible with the latest versions so that we do not risk falling behind and on an unsupported version (note: go supports n-1 versions).

**Describe the solution you'd like**
The code runs on the latest version of go.

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the

[2021-09-24 00:25] voor commented on #56
This concept just blew my mind.

So instead of imgpkg push I would have a kbld configuration in my package cr that says "go to this folder for your bundle" and it would generate the bundle right there?

[2021-09-24 16:31] pivotaljohn commented on #80
We're seeing a growing number of users doing some DNS gymnastics to produce an `imgpkg` lock file whose references appear to point to a production registry.
One such example here: https://github.com/vmware-labs/service-bindings/blob/main/.github/workflows/ci.yaml#L28-L99

There are _other_ reasons for such a setup: for example being able to produce images and a bundle using a short-lived, air-gapp

[2021-10-02 12:42] voor opened #175 "Option to append to a ImagesLock when --imgpkg-lock-output is used"
**Describe the problem/challenge you have**
We have different environments that use different configuration and this shares common manifests, in particular things like Helm charts.  We generate our `ImagesLock` file at the same time we output samples that are committed into the repository for readability purposes (sometimes it can be hard to decipher extremely abstracted ytt templates).  This loop

[2021-10-03 00:44] cppforlife commented on #175
@voor could you combine multiple invocations into one?

[code]

[2021-10-03 01:15] voor commented on #175
Not effectively, since they're also being output to a sample folder and/or part of loops that run at other times.

For the non-helm chart related things, what I've been doing is putting the image as something like:
[code]
And using kbld config:
[code]

[2021-10-05 17:59] pivotaljohn commented on #158
So, @voor, what do you think of the `imgpkg` builder angle?

It has the "feature" of where you'd produce the bundle _through_ `kbld`... how well does that meld with your workflow?

Adding something like this:
[code]
_(where you replace `${IMGPKG_BUNDLE}` yourself or turn that into a `ytt` template.)_

which could either be added to `kbld-config.yml` or be it's own file `bundle-kbld-config.yml`

..

[2021-10-05 21:34] voor commented on #158
Would it be fair to say the next step in this chain would be using the same builder to then create the Package Repository?  Possibly used in conjunction with vendir to grab the various package CR's from all their little repositories that have the folders of current-version.yml inside them?

[2021-10-06 11:27] developer-guy opened #177 "add support signing container images by using cosign project"
**Describe the problem/challenge you have**
I would like to sign container images while building them through carvel-kbld.

**Describe the solution you'd like**
[cosign](https://github.com/sigstore/cosign) maintained by [sigstore](https://sigstore.dev/) community is a new standard that allows the signature and verification of container images and OCI artifacts.

we (w/@dentrax @erkanzileli) though

[2021-10-07 01:54] cppforlife commented on #177
@developer-guy yes! we are definitely very open to contribution of such feature.

x-link (existing issue): https://github.com/vmware-tanzu/carvel-kbld/issues/157

[2021-10-08 21:29] #147 closed, assigned to nobody

[2021-10-09 00:06] cppforlife commented on #56
right, for convenience however we would probably want to run kbld on the bundle itself (aka recursive call), but that requires a bit of gymnastics in non-trivial cases (e.g. kbld <(helm template ...)) and then we start getting into business of running other commands (which isnt a business i think we should be in).

[2021-10-09 12:28] voor commented on #56
With helm we probably need better tutorials and documentation on how vendir can help and kapp-controller will do the helm template step for you.

[2021-10-09 18:52] cppforlife commented on #56
yeah, but we still need kbld to collect images to write out .imgpkg/images.yml at the build time.

[2021-10-11 13:25] voor commented on #56
:exploding_head: You're totally right, now I'm not sure how this will work

[2021-10-12 08:22] mkurde opened #178 "kbld does not fully respect Block Chomping Indicator in manifest"
**What steps did you take:**

kbld is the last step after rendering all my manifests in my deploy automation. Therefor, also manifests which do not have docker images are going through this process. I am working on Prometheus Alerting manifests and here is an example:

[code]

and the result after kbld:

[code]

The result is the same when the expression is in one line like

[code]

**What happene

[2021-10-12 09:30] dsiebel commented on #178
I can confirm that this seems to be a regression that was introduced between `0.30.0` and `0.31.0`. I rendered the above manifests using `0.30.0` without the mentioned issue, then upgraded to `0.31.0` and was able to reproduce it.

[2021-10-12 10:41] dsiebel commented on #178
Looks like this might be an issue with `go-yaml` which was update from 2.3.0 to 2.4.0 in kbld 0.31.0.
[`v2.3.0...v2.4.0`#diff-18f184a5d0](https://github.com/go-yaml/yaml/compare/v2.3.0...v2.4.0#diff-18f184a5d04563c70b17eaa2a44c42850ed8461714b0632d6593cacf3147b28cL89)

EDIT:
It looks like it can be controlled with this

[code]

[2021-10-12 16:39] aaronshurley commented on #173
Prioritizing this as `important-soon` so that we don't lapse in supported go versions.

[2021-10-12 16:58] aaronshurley commented on #178
@mkurde Thank you for reporting this bug and @dsiebel thank you for digging into this. I was able to replicate this with the provided information. We did have quite a few dependency bumps in the 0.31.0 release which likely led to this regression. I'll mark this as `important-soon`  since it's a regression. Due to KubeCon this week, it might be unlikely that we get to this until next week or so.

W

[2021-10-12 17:04] aaronshurley commented on #159
@pivotaljohn Thanks for creating this issue. I'm marking this as `important-soon` since we're currently skipping a test and therefore have reduced confidence in our releases.

[2021-10-12 17:07] aaronshurley commented on #162
@pivotaljohn any thoughts on @cppforlife's comment?

[2021-10-12 17:08] cari-lynn commented on #162
The docs in imgpkg do detail the [workflow](https://carvel.dev/imgpkg/docs/latest/basic-workflow/#step-1-creating-the-bundle) @jtigger mentioned, and I agree that we shouldn't duplicate the docs. However reading through kbld's docs there are [details on resolving images](https://carvel.dev/kbld/docs/latest/resolving/#generating-resolution-imgpkg-lock-output) using `--imgpkg-lock-output`, but it wa

[2021-10-12 17:08] aaronshurley commented on #171
Thanks for creating this issue. This is currently unprioritized but welcome to contributions.

[2021-10-12 17:19] pivotaljohn commented on #162
Perfect.

[2021-10-12 17:42] DennisDenuto commented on #173
when bumping golang, the goreleaser version used in the release GH action will also need to be bumped.

This is because kbld generates an arm binary. and goreleaser `0.162.0` [has a bug](https://github.com/goreleaser/goreleaser/issues/2412) where if using go 1.17 the darwin/arm binary is skipped.

[2021-10-12 19:48] cppforlife commented on #178
im not sure i fully groked the issue. result is a valid yaml, though line folded (as example shows below ytt for example using a yaml library reads that yaml).

is there particular yaml parser that does not understand that line folding?

example:

[code]

[code]

[2021-10-13 20:17] aaronshurley commented on #178
@mkurde @dsiebel ^

[2021-10-14 15:18] mkurde commented on #178
hi @cppforlife, after some more work on our charts we discovered that the mentioned problem is not affecting kubernetes. The IDE still complains due to the wrapped line but kubernetes allow to apply the manifests.

We can close the issue here. If that wrapping will become a problem in the future, I will reopen the issue.

[2021-10-14 15:18] #178 closed, assigned to nobody

[2021-10-14 15:22] mkurde commented on #178
To add some additional notes:
* Pull request which "reverted" the revert once more to its current state and introducing the new function to allow infinit line lenghts: https://github.com/go-yaml/yaml/pull/670
* Usefull post in the discussion led to the change: https://github.com/kubernetes/kubernetes/pull/95571#issuecomment-708796327

[2021-10-20 18:10] bcdurden opened #181 "Add flag to kbld that disables appending image SHAs to yaml in stdout"
**Describe the problem/challenge you have**
I am attempting to create a bundle that can be moved across an airgap. This means I need a valid configuration yaml as well as transposed images when running in my airgapped environment where the bundle uses my existing internal registry instead.

To do this, I have to use the helm template output fed into kbld in order to generate an ImageLock object. A

[2021-10-22 11:22] voor commented on #158
Conversation out of band but relevant to this issue: We are using this heavily with `helm` and so `helm template` is an important step to get the kbld image references properly, we do not store a `sample` or otherwise **inside** the bundle so therefore all we have is the raw `chart` folder.  This creates a slippery slope for kbld.

[2021-10-25 15:43] pivotaljohn commented on #181
Hey @bcdurden.  I see that you want to be able to do two things with the output of your `helm template ...`:
- run once through `kbld` to resolve references into a lock file, and
- save the templated results to be an artifact of the bundle itself.

But that this would require to invocations of `helm template` to do so.

Exploring our options: how much of a burden would it be for the users of your

[2021-10-25 15:59] pivotaljohn commented on #158
This starts to get tricky, actually. Because we don't expect that the folks who are producing _a_ Package would necessarily produce the whole Package Repository.... 🤔 .

I sense a cousin of the "prefer composition over inheritance" advise being relevant here....

[2021-10-25 16:08] pivotaljohn commented on #158
Apologies for my thick-headedness... but I'm not sure what that slipper slope is for kbld... could you elaborate just a tad more on the risk you're pointing at?

[2021-10-25 16:52] voor commented on #158
Maybe it is I who is thick-headed, and maybe what I'm asking is that kbld needs a helm template builder that can take a given folder of `chart/` and render it with `helm template` such that it can gather the necessary images.  So, if you go back up a level, when the Package is built and needs to generate the imgpkg bundle (that contains the necessary image.yml) it is not missing the helm chart's c

[2021-10-26 00:21] gabegorelick opened #182 "Support resourceMatchers in searchRules"
**Describe the problem/challenge you have**

The existing [key matcher](https://carvel.dev/kbld/docs/latest/config/#key-matcher) and [value matcher](https://carvel.dev/kbld/docs/latest/config/#value-matcher) are quite limited.

For example, let's say I have a `ConfigMap` with an `image` field:
[code]

You could use a key matcher to `name: image` and `path: [data]`, but that would potentially catch

[2021-10-26 17:21] pivotaljohn commented on #158
How are you imagining that `kbld` would get the values necessary to `helm template` successfully?  Would `kbld` consume the Package? 🤔

From where I'm sitting, it's not likely that `kbld` would achieve this with a Builder, per se; `kbld`'s builders are a "function" that takes as input an identified image reference and produces the corresponding image (optionally publishing/pushing)... YAML renderi

[2021-10-26 19:42] voor commented on #158
Think I probably should have linked to this repo a lot earlier in this conversation to have a solid example, but if you take a look at: https://github.com/voor/gitlab-runner-helm-imgpkg/tree/main/bundle you can see the ultimate format of the bundle just before it gets pushed, the script to actually generate this looks like this: https://github.com/voor/gitlab-runner-helm-imgpkg/blob/main/build.sh#

[2021-10-28 16:31] Dentrax opened #184 "dx: show help page by default"
**Describe the problem/challenge you have**
To improve developer experience for the fresh installations, It think It had better to show _help_ page instead of print out `Succeeded`.

[code]

**Describe the solution you'd like**
[code]

[code]

**Anything else you would like to add:**
I think we should not print out `Succeeded` log at the end of each output. Wdyt?

---
Vote on this request

This is

[2021-10-28 18:35] aaronshurley commented on #75
Downgrading this to `priority/important-longterm` as we gather more information about Windows use cases and demand.

[2021-10-28 21:57] pivotaljohn commented on #184
Thank you, @Dentrax, for calling this out.

In fact, with the Carvel project, there's a greater issue of an inconsistent behavior.

I created an issue in the umbrella repository: vmware-tanzu/carvel#290 to track the broader question.

Will close _this_ issue to keep the conversation about these thing over there.

Thanks again! 🙏🏻

[2021-10-28 21:57] #184 closed, assigned to nobody

[2021-11-02 17:08] pivotaljohn commented on #158
Oooooooookay, that example really helped clarify what you're going for here. 🙏🏻

 _That_ and a quick convo with Dmitriy about this... which restored in my mind the idea that `kbld` aims to address the general need of "hey, I got a bunch of software bits/blobs that go with my configuration; please identify them, ensure they are in their proper form (nominally an OCI image), and give me back an inve

[2021-11-02 18:23] voor commented on #158
Yes, I think I'm tracking.  By the way, here's an updated [`build.sh`](https://gist.github.com/voor/49af5d9e4dcefa52093c7ea2a61c823b) that shows how this is progressively getting "worse" as we start to implement hacks around Package Repsitories as well.  So for those following along at home:

- Very basic use case (yamls that we reliably know are going through ytt at a later date, but we're still

[2021-11-22 17:29] joaopapereira opened #193 "Remove need to use dockerhub for tests"
**Describe the problem/challenge you have**
We are currently failing the tests due to rate limiting on Dockerhub

**Describe the solution you'd like**
We should stop relying on Dockerhub to have our e2e tests running in CI.

**Anything else you would like to add:**
Use a local registry like registry:2 or something similar. If we want to keep some tests that involve Dockerhub they should be scoped

[2021-12-01 21:41] DennisDenuto opened #194 "Support google/ko attachments (sbom, signatures)"
**Describe the problem/challenge you have**

google/ko [produces sbom's](https://github.com/google/ko/pull/506) when building an image. However `kbld` [is hardcoded](https://github.com/vmware-tanzu/carvel-kbld/blob/30bcb03300e00443130637ee511c9f5b3a9f99d0/pkg/kbld/builder/ko/ko.go#L34) to publish images to the local docker daemon (via `--local`). Due to the docker daemon unable to store non-contai

[2021-12-02 15:27] redbaron opened #195 "Add support for hermetic mode, where registry is never contacted and all images expected to be preResolved"
**Describe the problem/challenge you have**

when used together with `ytt`, `kbld` must be applied after templating is done , which often happens just before the deploy. If some images are missing from the imageLock file, then they are implicitly resolved, leading potentially to a non reproducible deploys and arguably defeating the purpose of this tool.

**Describe the solution you'd like**
Add a

[2021-12-06 23:55] cppforlife commented on #195
i like this suggestion!

[2021-12-10 19:07] gabegorelick opened #198 "Ability to use specific platform when generating ImagesLock"
**Describe the problem/challenge you have**

kbld is often used to generate lockfiles that are passed to imgpkg to generate a bundle. When such a lockfile contains a multi-platform image index, the resulting imgpkg bundle will include all images in the index. This is great if you need to distribute the bundle to a lot of different platforms, but if you know the exact platform you're targeting then

[2021-12-17 21:33] evankanderson opened #203 "Document how to use `kbld` with `kind`?"
[Kind](https://kind.sigs.k8s.io) is a popular local development option. Unfortunately, the [default configuration of `kind`](https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster) requires running `kind load docker-image $IMAGENAME`.

It's hard to extract the built image names to `kind load docker-image`. It would be nice to have something like a `--kind` flag to do th

[2021-12-21 23:54] gabegorelick opened #206 "kbld appends duplicate preresolved origin"
**What steps did you take:**
1. Run `kbld -f foo.yaml --imgpkg-lock-output lock.yaml`
2. Rerun kbld with the resulting ImagesLock file: `kbld -f foo.yaml -f lock.yaml --imgpkg-lock-output lock.yaml`
3. Notice you now have a `preresolved` entry under `kbld.carvel.dev/origins`. So far so good.
4. Run kbld again with the lockfile: `kbld -f foo.yaml -f lock.yaml --imgpkg-lock-output lock.yaml`
5. Noti

[2021-12-24 02:59] StarpTech opened #208 "How to efficiently cache docker layer in CI with kbld?"
Hi, I know kbld is builder neutral, but what's the best practice to cache docker layers in the CI? As far I know, the default docker CLI is very limited when it comes to caching. `docker buildx` has much better support, but kbld doesn't support it yet https://github.com/vmware-tanzu/carvel-kbld/issues/43

[2022-01-04 21:59] pivotaljohn commented on #198
For use cases where both producing and deploying the artifacts are under the control of the same party, this seems particularly useful.

There are a number questions to flesh out before we begin (see description and Slack convo).

[2022-01-04 22:18] pivotaljohn commented on #203
Making sure we got this...

1. you're using `kbld` to orchestrate some image builds, including configuration for `ko` and/or `pack` (or others...)
2. OOTB, `kbld` will push built images to your configured Destination(s); this request is to be able to instead "load" to a local `kind` cluster.
3. you're asking for this because in the local development situation, standing up a local registry is kindo

[2022-01-04 22:19] pivotaljohn commented on #203
An alternative thought...

Not unlike the [Buildkit for kubectl](https://carvel.dev/kbld/docs/latest/config/#buildkit-cli-for-kubectl) builder...

- when `kbld` creates images, those are initially stored in the local image cache.
- if we were to run `kbld` _in cluster_ (i.e. a pod with `kbld`, dependencies, with access to the container runtime), that local image cache is likely the same place wher

[2022-01-04 22:22] pivotaljohn commented on #203
Looking into whether it's more supportable/useful to enhance `kbld` itself (e.g. give the user control over where built images are published) vs. documenting/providing a configuration for a local workflow using `kind`.

[2022-01-04 22:34] pivotaljohn commented on #208
There's no special pattern for caching docker layers in CI; `kbld` delegates building images and is not involved in that layer, directly.

As noted in #43 (apt reference, 👍🏻 ), there's some design work left to start the integration with docker buildx. _That_ issue is a great place to further the larger conversation. At this time, this work is not currently on [the maintainer's roadmap](https://git

[2022-01-04 22:51] gcheadle-vmware commented on #206
Hi @gabegorelick,

Thank you for pointing out this bug, I agree that the duplicate preresolved origin should probably not be there and could cause confusion. Additionally, in CI we want the same inputs to create the same outputs. For those reasons we agree that kbld should not append duplicate preresolved entries in the origins.

[2022-01-05 09:38] StarpTech commented on #208
Hi @pivotaljohn thanks. It would be great to hear how caching is solved in general in your experience. Especially, when kbld limits you to use just `docker build`.

[2022-01-06 22:05] cppforlife commented on #208
@StarpTech im not versed in buildx. how does it help in this scenario? does it cache layers in a registry, and downloads it from there? how do you see kbld integration to play out here (what is the command kbld should be calling to use buildx)?

[2022-01-06 22:09] cppforlife commented on #203
this seems like a pretty reasonable extension to various builders that use docker build. question is how to best configure this... could be a flag, or could be some configuration on builders.

[2022-01-07 12:17] StarpTech commented on #208
Basically, yes. https://github.com/moby/buildkit#cache Rebuilding all images is unusable. Especially in the CI where the storage ephemeral.

[2022-01-18 16:34] cppforlife commented on #208
@StarpTech would you be able to share what kind of command you would-want/already to be running? (we probably need a bit more hand holding from users like you on how to integrate with buildkit)

[2022-01-22 05:45] Rock981119 opened #213 "kbld does not work with git error messages set to a different language"
I use brew install kbld, Version 0.32.0.

Here is my input Yaml file:
Deploy.yaml
[code]

kbld.yaml
[code]
command line execution:
[code]
error message:
[code]
Chinese part is 'No name found, can't describe anything'

**At the same time, I did the same test in the Linux (PhotonOS) environment and it was successful.**

My MacOS Version: 11.6.2

[2022-01-24 14:59] visomar commented on #213
Hi @Rock981119. I was about to create an issue about this same error, but I know why this is happening, so I may be able to help you:
Your local GIT is using a language different than english. If you check the source of https://github.com/vmware-tanzu/carvel-kbld/blob/develop/pkg/kbld/image/git.go, you'll see there are some checks done with `contains` trying to match some strings, and if git is an

[2022-01-24 17:28] Rock981119 commented on #213
@visomar
Cool, thanks a lot, it worked.

[2022-01-24 17:49] joaopapereira commented on #213
@Rock981119 thanks for opening this issue.

@visomar Thanks for helping out with this debug

Going to reopen this issue as a bug because it looks like something that kbld should try to address instead of forcing the users to add an extra command-line variable for it to work.

[2022-02-04 15:50] jpmcb opened #219 "`kbld` resolve as a Go library"
**Describe the problem/challenge you have**

`kbld` is great at resolving images from a `.imgpkg` config and OCI bundle.

I want to harness that in my own program by using `kbld`'s Go code. But currently, the only public methods available are the top level Cobra commands:

[code]

This isn't useful since the cobra commands Run can't be utilized as a function that returns a the resolved yaml chunk.

[2022-02-07 17:41] #219 closed, assigned to nobody

[2022-02-18 14:43] cxhrouet opened #221 "Environment variable is passed with single quotes to pack and is not used"
**What steps did you take:**
- Get a sample Java application : `git clone https://github.com/spring-projects/spring-petclinic.git && cd spring-petclinic`
- Write a `kbld.yml` file to build image from source following https://carvel.dev/kbld/docs/v0.32.0/building/ :
[code]
- Launch : `kbld -f kbld.yml`

**What happened:**
Environment variable is passed with single quotes to pack and the buildpack c

[2022-03-03 23:29] cppforlife commented on #221
hey @cxhrouet, i think you should specify rawOptions as array:

instead of:
[code]

do this:
[code]

[2022-03-11 20:29] cppforlife commented on #221
feel free to reopen if above comment does not fix the problem.

[2022-03-11 20:29] #221 closed, assigned to nobody

[2022-03-24 17:25] vishrantgupta commented on #97
I have a deployment that gets rendered as:

[code]

I used the following regex:

[code]

But I got this error:

[code]

The values.yaml file looks like this:

[code]

[2022-03-24 17:31] vishrantgupta commented on #97
Ah! I see the regex is not supported.

[2022-04-11 16:18] #143 closed, assigned to nobody

[2022-04-13 19:18] johnSchnake commented on #182
I was just looking at kbld with respect to Sonobuoy and came across this same limitation. In my case, `sonobuoy gen` produces k8s types to put on the server; kbld resolves the main `sonobuoy/sonobuoy` image just fine.

However, the plugins we choose to run are actually not created as pods right away but launched later in the lifecycle of the application but their information is stored in a configm

[2022-04-15 16:06] johnSchnake opened #231 "Is it possible to package images by themselves?"
**Describe the problem/challenge you have**
Working with k8s e2e testing means needing a series of test images available to the cluster. I do not have manifets/pod definitions for these, they are generated at runtime. I want to make sure those images are still prepulled and available to the cluster even in an airgapped environment.

**Describe the solution you'd like**
I'd like to use kbld and img

[2022-04-15 16:18] cppforlife commented on #231
how would you expect cluster to "prepull" images? that's not something that can be done to my knowledge without some resource (like a Pod) be created in the cluster (so that k8s knows what to pull).

[2022-04-15 17:55] johnSchnake commented on #231
Sorry, I conflated two different things. I don't necessarily mean prepulling the images into the cluster itself (e.g. onto the nodes) but moving them into an airgapped registry, reachable from the cluster.

I want to be able to move the images that I know I will need in the future, but I don't have the workloads at all, the testing code generates those.

[2022-04-15 17:55] johnSchnake commented on #231
Sorry, I conflated two different things. I don't necessarily mean prepulling the images into the cluster itself (e.g. onto the nodes) but moving them into an airgapped registry, reachable from the cluster.

I want to be able to move the images that I know I will need in the future, but I don't have the workloads at all, the testing code generates those.

[2022-04-15 20:08] johnSchnake commented on #231
FWIW I found that if, when making my bundle, I include another file of "virtual resources" which are just
[code]
It resolves and saves the images as expected. Just later, when deploying, I ignore any files like that.

So it seems like it would be sufficient if there were another type which kbld would filter out of the resulting stream (like it does the config types) that can take a list of images.

[2022-04-15 23:48] cppforlife commented on #231
yeah, kbld doesnt care that input yaml is a kubernetes resource. i recommend folks sometimes to use this format:

[code]

to just let kbld know about a set of images.

[2022-04-17 19:47] cppforlife commented on #198
in progress: https://github.com/vmware-tanzu/carvel-kbld/pull/234

[2022-04-17 21:24] johnSchnake commented on #231
Thats perfect; thanks for the sanity check.

[2022-04-17 21:24] #231 closed, assigned to nobody

[2022-05-04 14:47] benmoss opened #239 "Ability to produce multi-arch images with Docker (image indexes/manifest lists)"
**Describe the problem/challenge you have**
I'd like to produce a [manifest image index](https://github.com/opencontainers/image-spec/blob/02efb9a75ee11e05937b535cc5f228f9343ab2f5/image-index.md) so that my image can work for multiple platforms

**Describe the solution you'd like**
Docker [can build manifest lists](https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/) through th

[2022-05-09 15:12] benmoss opened #243 "simple-app-build-local example builds the same image twice"
**What steps did you take:**
[code]

**What happened:**
It builds the same image twice

**What did you expect:**
It only builds the image once

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- kbld version (use `kbld --version`): v0.33.0

---
Vote on this request

This is an invitation to the community to vote on issues,

[2022-05-17 12:52] cppforlife commented on #239
x-ref: https://github.com/vmware-tanzu/carvel-kbld/pull/244

[2022-06-02 20:57] DennisDenuto commented on #206
Hi @gabegorelick

We have merged this PR into develop. Assuming all goes well, expect to see this bug fix in the next kbld release!

[2022-06-08 17:53] #239 closed, assigned to nobody

[2022-06-09 01:11] cppforlife commented on #43
related: added `docker buildx build` support in https://github.com/vmware-tanzu/carvel-kbld/releases/tag/v0.34.0

[2022-06-09 01:12] cppforlife commented on #208
added `docker buildx build` support in https://github.com/vmware-tanzu/carvel-kbld/releases/tag/v0.34.0. you should also be able to use various caching configuration if you enable docker.build.buildkit configuration option or set env variable.

[2022-06-29 16:11] pivotaljohn opened #264 "Add apko as a Builder"
**Describe the problem/challenge you have**
apko provides fast, reproducible OCI image builds.

It's a tool from https://www.chainguard.dev/ — some of the same folks that started Sigstore.

**Describe the solution you'd like**
Write a builder for apko so that Carvel users can enjoy the benefits of apko.

**Anything else you would like to add:**
The source of apko-produced OCI images are Alpine pac

[2022-06-29 16:12] pivotaljohn commented on #264
Saw this "[advertised](https://twitter.com/puerco/status/1542018385550123008?s=21)".  Created this issue to make it easy for our users to let us know they want/are using apko.

[2022-07-07 20:43] cppforlife opened #266 "add railwayapp/nixpacks as a builder"
**Describe the problem/challenge you have**
https://github.com/railwayapp/nixpacks would be a useful builder to include.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX (ex: new CLI argument name, the behavior expected).]

**Anything else you would like to add:**
[Additional information that will ass

[2022-07-19 13:44] kartiklunkad26 opened #270 "[Guides] Building images with `KO` and `kbld`"
kbld supports building images with `ko` but we don't have any docs on how to use this capability. This story is to write docs corresponding to it!

[2022-07-19 17:05] cppforlife commented on #270
i believe the ask is not about _any_ docs (since we do have reference material which counts as a type of docs) but rather _guides_ specifically on how to use this feature (we also do not have guides for other builders either).

[2022-08-16 15:55] aaronshurley commented on #270
Updated the title to reflect the request for a guide since we do have general reference material: https://carvel.dev/kbld/docs/v0.34.0/config/#ko

[2022-09-13 21:22] aaronshurley commented on #264
Reopening this issue but will label as awaiting more evidence

[2022-09-13 21:23] aaronshurley commented on #266
Reopening this issue but labeling as awaiting for more evidence

[2022-10-24 11:53] ChristianCiach commented on #155
We have a similar use case, so I hope it is okay to add it to this issue.

We are currently using kbld in the simpliest way possible:

[code]

There is no `ImagesLock` involved; we just want to resolve all images to their digests on every deployment.

But now we are planning to create a `CronJob` that *needs to reference a mutable image tag*. The CronJob runs some kind of auto-updater, so it is ve

[2022-10-24 12:21] ChristianCiach commented on #155
It just occurs to me that I can probably workaround this issue by using a `Config` manifest (`kbld.k14s.io/v1alpha1`) where I can set `preresolved: true` for that image. I will update this comment later to report if that works or not.

[2022-10-25 16:52] joaopapereira commented on #155
If you use the `preresolved: true` for that particular image it should work. something like
[code]
If you use the above with `kbld` you would get the output:
[code]

[2022-10-30 00:19] #266 closed, assigned to nobody

[2022-10-30 00:19] #264 closed, assigned to nobody

[2022-11-03 02:17] evankanderson opened #291 "Support jib for builds"
**Describe the problem/challenge you have**

[Jib](https://github.com/GoogleContainerTools/jib) provides a native solution for building minimal Java images.

It would be nice to have jib support in `kbld`.

**Describe the solution you'd like**

A `kbld` build option like the `ko` (golang) and `pack` (buildpacks-generic) options.

**Anything else you would like to add:**

From conversation on Twitt

[2022-11-03 02:18] evankanderson commented on #291
Request tweet:

https://twitter.com/n3wscott/status/1587990130693836800?t=dljLcri9Kvf8q88ny4FZdA&s=19

[2022-11-17 17:46] voor opened #295 "kbld should be smart enough to see a Carvel tagSelection without additional work"
**Describe the problem/challenge you have**
I have a repository: https://gitlab.com/tanzuplatform/platform-services and it contains a bunch of manifests and other package installs that help populate a k8s cluster with all the joys of production-readiness.

Some folks have used this repository and deployed things well, since those clusters were internet accessible.  Somebody wanted to use this repo

[2022-11-21 19:24] vmunishwar opened #297 "release v0.36.0"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
    - [x] [Create Draft Github release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-a-Github-Release)
    - [x] [Create the Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-the-Release-Notes)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVp

[2022-11-21 22:14] #297 closed, assigned to vmunishwar

[2022-11-21 22:14] vmunishwar commented on #297
Done